@media only screen
and (max-width : 641px) 
and (min-width : 1px){
  
  a.red-button{
    display: block;
    height: 135px;
    width: 524px;
    background: lighten(rgb(190,30,45), 4%);
    overflow: visible;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 130px;
    box-shadow: 5px 10px 0 rgb(186,214,226); 
    margin: 0 0 0 45px;
    
    &:hover{
      color: white;
      box-shadow: 5px 10px 2px darken(rgb(186,214,226), 20%);
    }
  }
}