/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";
@import "partials/buttons";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "compass/reset/utilities";
@import "compass/css3";

:focus, :active {
  outline: 0 none;
}

a, a:active, a:visited {
  text-decoration: none;
}

a:hover {
  color: red;
}

button:hover {
  cursor: pointer;
  text-rendering: optimizeLegibility;
}
button::-moz-focus-inner {
  border:0;
}

body {
  background: url("/images/kidsRubyTop.png") no-repeat top, url("/images/kidsRubyBottom.png") no-repeat bottom;
  background-color: #286ba5;
  font-family: helvetica;
}

nav {
  background: url('/images/signBoard.png') no-repeat center;
  float: right;
  height: 93px;
  position: relative;
  right: 93px;
  width: 329px;

  ul {
    list-style: none;
    margin-top: 51px;

    a {
      @include transition-duration(1s);
      color: white;
      float: left;
      font-size: 16px;
      padding: 5px 0;
      opacity: 0.9;
      text-align: center;
      width: 100px;

      &.first {
        margin: 0 7px 0 20px;
      }

      &.last {
        width: 85px;
        margin-left: 5px;
      }
    }

    a:hover {
      color: white;
      // text-shadow: -1px -1px 1px black;
      opacity: 1;
    }
  }
}

//header
img#thumb-drive {
  @include transition-duration(1s);
  height: 135px;
  float: left;
  position: relative;
  left: 42px;
  top: 43px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    @include rotate(-360deg);
  }
}

//home
header.sectionTitle{
  @include clearfix;
  @include column(22, true);
  @include border-top-radius(8px);

  background-color: #e8edf3;
  margin-top: 145px;
  padding: 25px 20px 20px 60px;
  font-size: 24px;
  a {
    color: #ff1941;
  }
}

aside {
  @include column(8, true);

  background-color: #dce4ed;
  min-height: 1116px;
  padding-right: 10px;

  div.social {
    padding-left: 20px;
    padding-right: 10px;

    #twitter-feed {
      ul {
        margin: 0px;
        padding: 0px;
        li {
          clear: both;
          font-size: 11px;
          list-style: none;
          margin: 0px 0px 8px 0px;
          min-height: 55px;
          padding: 3px;
          text-align: justify;
          a {
            img {
              background: none;
              float: left;
              height: 40px;
              margin: 0 10px 22px 0;
              width: 40px;
            }
          }
          a.JRM {
            display: inline;
            font-size: 10px;
          }
          span.time {
            color: #999;
            display: inline-block;
            font-size: 10px;
          }
        }
      }
    }
  }
}

section.secondPage {
  display: none;
}
section {
  @include clearfix;
  @include column(16, true);
  @include border-bottom-left-radius(8px);
  min-height: 1116px;

  background-color: #f3f2f5;
  article {
  @include clearfix;
    @include column(13, true);

    border-bottom: 2px solid #E8EDF3;
    margin-left: 60px;
    text-align: justify;

    h1 {
      color: #FF1941;
      font-size: 18px;
      padding: 40px 0 10px 0;
    }

    p {
      color: #1F5380;
      padding: 10px 0 25px 0;
      &.next {
        float: right;
        margin-top: 30px;
        padding-right: 40px;
      }
      a {
        color: #ff1941;
      }
    }
    ul {
      margin-bottom: 30px;

      li {
        color: #1f5380;
        margin-left: 20px;
        a {
          color: #ff1941;
        }
      }
    }
  }

  form#sign-up {
    margin: 5px 90px 0px;

    fieldset {
      @include column(5);
      margin-top: 30px;

      &.top {
        margin-right: 35px;

        input{
          width: 200px;
        }
      }

      &.bottom {
        @include column(11);

        input{
          width: 425px;
          height: 140px;
        }
      }

    }

    fieldset.submit {
      float: right;
      margin-right: 0;
    }
  }

  label {
    color: #3b678d;
    margin-bottom: 20px;
  }

  input[type="text"], input[type="email"] {
    @include box-shadow(inset 1px 1px 2px #ccc);
    @include border-radius(7px);

    background: #d8e6ef;
    border: 1px solid #e5e5dd;
    color: #89897e;
    font-size: 12px;
    padding: 8px 8px;
    width: auto;
  }

  input[type="submit"] {
    @include border-radius(7px);

    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 15px;
    font: bold 12px "DroidSansBold", Verdana, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    border: none;
    background-color: #e2e2d9;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(100, 48, 22, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9C69), to(#dc692e));
    background-image: -moz-linear-gradient(19% 75% 90deg,#FF9C69, #dc692e);
  }

  input[type="submit"]:hover {
    @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  }

}

.container {
  @include container;
}

footer {
  @include column(24, true);

  margin-top: 155px;

  div{
    position: absolute;
    margin-top: -85px;
    margin-left: 175px;
  }

  span, a {
    color: #1f5380;
  }

  span.rights{
    font-size: 12px;
  };

  img {
    position: absolute;
    &.left {
      left: 0;
      margin-top: -256px;
    }
    &.right{
      right: 0;
      margin-top: -273px;
    }
  }
}
