/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
 
// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
 
// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";
@import "partials/variables";
@import "partials/fonts";
@import "partials/tablet";
@import "partials/mobile";
 
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
 
// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "compass/reset/utilities";
@import "compass/css3";

@media only screen and (min-width: 769px) {
 
body {
  background: url("/images/kidsRubyTop.png") no-repeat top;
  background-color: $background;
  font-family: helvetica;
}

#SignPost{
  background: url("/images/sign-post.png") no-repeat top;
  height: 53px;
  display: block;
  position: relative;
  top: 220px;
  z-index: -1;
}

nav {
  float: left;
  margin: 0 auto;
  height: 90px;
  right: 93px;
  top: 70px;
  width: 1000px;
 
  ul {
    list-style: none;
    margin: 173px 10px 10px 10px;
    
    a {
      font-family: 'bender', helvetica;
      color: $gb;
      float: left;
      display: block;
      font-size: 17px;
      padding: 4px 0;
      text-align: center;
      width: 50px;
      text-decoration: none;
      
      &.first {
        margin: -2px 48px 0 218px;
      }
      
      &.second {
        margin:-2px 40px 1px 5px;
      }
      
      &.third{
        margin-top: -2px;
      }
      
      &.last {
       margin: -2px 0 0 56px;
      }
    }
  }
}
 
.container {
  margin: 0 auto;
  overflow: visible;
  width: 800px;
}
//home
header.sectionTitle{
  @include border-top-radius(15px);
 
  display: inline;
  float: right;
  width: 580px;
  background-color: $white;
  color: $red;
  font-size: 19px;
  line-height: 25px;
  margin: 127px 50px 0;
  padding: 40px 50px 30px;
  position: relative;
  z-index: 1;
 
  h2 {
    font-family: 'OpenSans', sans-serif;
    line-height: 30px;
    margin: 0 15px 0;
  }
}
  
section{
  @include border-bottom-radius(15px);
  display: inline;
  float: right;
  width: 580px;
  height: 370px;
  background-color: $white; 
  margin: 0 50px 0;
  padding: 0 50px 100px;
  position: relative;
  z-index: 0;
    
    .text{
      display: block;
      width: 275px;
      float: left;
      position: relative;
      z-index: 1;
      margin: 0  20px 0 15px;
      
      p{
        font-family: helvetica, arial;
        font-size: 17px;
        color: $paragraph;
        font-weight: bold;
        padding-top: 24px;
      }
      
      a{
        text-decoration:none;
        margin-top: 10px;
        
        &.redbutton{
          display: block;
          height: 46px;
          width: 295px;
          background: $red;
          overflow: visible;
          font-family: helvetica, arial;
          color: $white;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          line-height: 45px;
          box-shadow: 4px 4px 0 $ButtonShadow;
      }
    }   
       p:nth-child(3){
         font-weight: normal;
         font-size: 17px;
         line-height: 22px;
       }
      
      p:last-child{
      font-family: helvetica, arial;
      font-size: 13px;
      line-height: 18px;
      color: $DarkText;
      font-weight: normal;
      padding-top: 10px;  
      z-index: 1;
      text-align: justify;
      }
    }    
  aside{
    display: block;
    width: 240px;
    height: 100px;
    float: left;
    position: relative;
    z-index: 1;
    background: $white;
    margin: 0 20px 0 10px ;
      
    .socialbuttons{
      @include border-radius(7px);
      margin: 48px 0 0 35px;
      float: left;
      display: block;
      width: 220px;
      height:110px;
      background: $gb;
      box-shadow: 3px 3px 0px $BoxShadow;
      color: $SocialText;
          
      a.socialButtons{
        display: block;
        float: left;
        height: 48px;
        width: 73px;
        margin: 10px 15px 5px 20px;
      }
          
      .socialNumbers{
        float: left;
        display: block;
        width: 60px;
        font-size: 12px;
        margin: 0 20px 0 27px;
        text-align: center;
        font-weight: bold;
      }
      .counts{
        font-size: 21px;
        font-weight: bold;
      }
    }
  }
 
  .subscribe {
    @include border-radius(10px);
    height: 41px;
    width: 220px;
    float: right;
    margin: 20px -15px 0 65px;
    background-color: $gb;
    box-shadow: 3px 3px 0px $BoxShadow;
      
    input[type='email']{
      @include border-radius(11px);
      background-color: $input;
      padding:0;
      height: 25px;
      font-weight: 700;
      margin: 3px -75px 0 2px;
      width: 148px;
      border: 5px solid $gb;
      float: left;
      box-shadow: inset 1px 1px 0px $InputShadow;
      }
      
      input[type='submit']{
        @include border-radius(7px);
        background-color: $DarkBlue;
        border: none;
        font-size: 17px;
        line-height: 25px;
        color: $white;
        margin: 0 0 0 62px;
        padding: 0 14px;
        top: 8px;
        right: 1px;
        position: relative;
      }
   }
}

#bottom{
  position: relative;
  bottom: -1000px;
  left: 200px;
  z-index: .9;
  
  img#bottomImage {
    float: left;
    position: absolute;
    z-index: .9;
    bottom: 0;
    right: 98px;  
    display:block;
  }
}

#mobile{
  display: none;
}  
}



//mixins

//section ends<<<<<<<<<<
 