!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= @title || "Kidsruby.com"
    %link{:href=>'stylesheets/print.css', :rel => 'stylesheet', :media => "print", :type => "text/css"}
    %link{:href=>'stylesheets/screen.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    /[if lte IE 8]
      %link{:href=>'stylesheets/ie.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/system.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.form.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.lettering.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
  %body
    .container
      %header
        %div#thumb
          %img{:src => "/images/weblogo.png", :id => "thumb-drive", :alt => 'kidrubylogo'}
        %nav.home
          %a{:href => '/'} Home
        %nav
          %ul
            %li
              %a.first{:href => '/about'} About
            %li
              %a{:href => '/download'} Download
            %li
              %a.last{:href => '/contact'} Contact

      = yield

      %aside
        %div.social
          %div#addthis
            %div.socialButtons.icon-rss.hide
            %a.socialButtons.icon-twitter{:href => "http://twitter.com/home?status=KidsRuby+www.kidsruby.com"}
            %a.socialButtons.icon-fb{:href => "http://www.facebook.com/share.php?u=www.kidsruby.com&title=[KidsRuby]"}

            %div.counts
            %span.socialNumbers.first.hide
              %span.rsscount.counts
              Subscribers
            %span.socialNumbers
              %span.twittercount.counts
              Followers
            %span.socialNumbers
              %span.fbcount.counts
              Fans

          %form{:method => 'post', :action => '/newsletter'}
            %fieldset.newsletter
              %label Subscribe to our newsletter to receive the latest news about <a href="http://www.kidsruby.com">KIDSRUBY</a>
            %fieldset.subscribe
              %input#emailnewsletter{:name => "email", :type => "email", :placeholder => "Place your email here", :required => ""}
              %input{:type => "submit", :value => "Send"}
              %label#thanks4email Thank you for subscribing.

          %header
            <a href="http://www.twitter.com/kidsruby">KIDSRUBY</a> on Twitter
          %a.icon-twitterbutton{:href => "http://www.twitter.com/kidsruby"}
          %span.twitterinfo
            .title
              <b>Kids Ruby</b><br/>
              <a>@kidsruby</a> Planet Earth!
            Let's teach kids how to program using Ruby! Programming is fun, and good for you too.
            http://kidsruby.com
          #twitter-feed
            <a class="twitter-timeline" href="https://twitter.com/KidsRuby" data-widget-id="350752890094227457">Tweets by @KidsRuby</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      %footer
        %img.left{:src => "/images/rocksBottomLeft.png", :alt => 'bottom-left-rocks'}
        %div
          %span.rights &copy; 2011-2012 <a href="http://hybridgroup.com">The Hybrid Group</a>
        %img.right{:src => "/images/rubyBottomRight.png", :alt => 'bottom-right-rubies'}

      = partial :_analytics
