!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= @title || "Kidsruby.com"
    %link{:href=>'stylesheets/print.css', :rel => 'stylesheet', :media => "print", :type => "text/css"}
    %link{:href=>'stylesheets/screen.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    /[if IE]
      %link{:href=>'stylesheets/ie.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.juitter.js"}
    %script{:type => "text/javascript", :src => "javascripts/system.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
  %body
    .container
      %header
        %nav
          %ul
            %li
              %a.first{:href => '/'} Home
            %li
              %a{:href => '/download'} Download
            %li
              %a{:href => '/contact'} Contact

        %div#thumb
          %img{:src => "/images/weblogo.png", :id => "thumb-drive"}

      = yield

      %aside
        %div#addthis
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d3044bd33b50dde"></script>
          <!-- AddThis Button END -->
        #twitter-feed
      %footer
        Handmade by <a href="http://hybridgroup.com">The Hybrid Group</a>

      = partial :_analytics
