!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= @title || "Kidsruby.com"
    %link{:href=>'stylesheets/print.css', :rel => 'stylesheet', :media => "print", :type => "text/css"}
    %link{:href=>'stylesheets/screen.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    /[if lte IE 8]
      %link{:href=>'stylesheets/ie.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/system.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.form.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.lettering.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
    
  %body
    .container
      %header
        %div#Logo
          %a.kidsruby{:href => '/'}
        %nav.Home
          %a{class: ('active' if (@current_page == 'home')), :href => '/'} Home
        %nav.About
          %a{class: ('active' if (@current_page == 'about')), :href => '/about'} About
        %nav.Download
          %a{class: ('active' if (@current_page == 'download')), :href => '/download'} Download
        %nav.Contact
          %a{class: ('active' if (@current_page == 'contact')), :href => '/contact'} Contact

      = yield

      = partial :_analytics
