a, a:active, a:visited {
  text-decoration: none;
}
a {
  color: #ff1941;
}
a:hover {
  color: red;
  text-decoration: underline;
}
button:hover {
  cursor: pointer;
}

body {
  background-color: $background;
  font-family: 'Open Sans', helvetica, arial, sans-serif;

  @media #{$mq-desktop} {
    background: url("/images/background.png") no-repeat center top;
    background-color: $background;
  }
  @media #{$mq-tablet-mobile} {  
    max-height: 1000px;
    overflow-x: hidden;
  } 
}

.tablet-mobile {
  @media #{$mq-desktop} { 
    display: none;
  } 
}

 .background {
    @media #{$mq-tablet} { 
      background: url("/images/bg768.png") no-repeat center top;
      position: relative;
      width: 768px;
      left: -75px;
      height: 350px;
    } 

    @media #{$mq-mobile} { 
      width: 100%;
      min-height: 130%;
      background: url("/images/bg640.png") no-repeat center top;
      background-size: 100% auto;
      display: block;
      position: absolute;
      z-index: 0;
    } 
  }


.container {
  margin: 0 auto;
  min-height: 100%;
  position: relative;

  @media #{$mq-desktop} { 
    width: 940px; 
  }

  @media #{$mq-tablet} { 
    width: 614px;
  } 

  @media #{$mq-mobile} { 
    width: 100%;
    min-height: auto;
  } 
}

header.section-top{
  float: left; 

  @media #{$mq-desktop} {
    @include border-top-radius(15px); 
    width: 740px;
    background-color: $white;
    color: $paragraph;
    font-size: 28px;
    margin: 30px 0 0;
    padding: 35px 100px 30px;
    position: relative;
    z-index: 1;
  }

  @media #{$mq-tablet} { 
    background-color: $gb;
    width: 614px;
    margin: 0 0 63px 0;
  } 

  @media #{$mq-mobile} { 
    width: 100%;
    position: relative;
    display: block;
    float: right;
    z-index: 1;
    background-color: $gb;
    margin-top: 50%;
  } 
}

.wrapper{
  @include border-bottom-radius(15px);
  position: relative;
  float: left;

  @media #{$mq-desktop} {
    margin: 0 auto;
    background-color: white;
    width: 940px;
    overflow: hidden;
    margin: -45px 0 280px 0;
    min-height: 1300px; 
  }

  @media #{$mq-tablet} { 
    box-shadow: 0 0 0 5px darken($gb, 8%);
    margin: -58px auto 10px;
    background-color: $gb;
    width: 614px;
  } 
  @media #{$mq-mobile} { 
    float:none;
  } 
}

section.main{
  float: left;
  
  @media #{$mq-desktop} {
    @include border-bottom-left-radius(15px); 
    background-color: $white;
    min-height: 100%;
    padding: 0 40px 150px 100px;
    position: relative;
    z-index: 1;
    width: 470px;
  }

  @media #{$mq-tablet} { 
    margin-top: -63px;
    display: inline-block;
    width: 614px;
    height: 100%;
    background-color: $gb;
    padding-bottom: 50px;
    margin-bottom: 50px;
    overflow:auto;
  } 

  @media #{$mq-mobile} { 
    @include border-bottom-radius(15px);
    display: inline;
    float: right;
    width: 100%;
    height: 100%;
    background-color: $gb;
    position: relative;
    margin: 0 0 80% 0;
    padding: 0 0 100px;
    z-index: 10;
  } 
}

//About, Download, Contact
article.title{
  width: 470px;
  padding: 0 40px 0 0;
  font-weight: bold; 

  @media #{$mq-tablet} { 
    padding: 0 40px 0; 
  } 
}

h1.heading{
  font-size: 40px;
  line-height: 30px;
  color: $Button;

  @media #{$mq-desktop} {
    padding: 0 0 20px 0;
  } 
  @media #{$mq-tablet} { 
    padding: 50px 0 30px 0;
  }  
}

h2, h3, h4, h6{
  color: $paragraph;
}

h2{
  font-size: 28px;
  line-height: 42px;

  @media #{$mq-desktop} {
    padding: 0 0 5px 0;
  } 
  @media #{$mq-tablet} { 
    padding: 0 0 10px 0;
  } 
}
h2.title {
  @media #{$mq-tablet} { 
    font-size: 30px;
    color: $red;
    font-family: 'OpenSans', sans-serif;
    line-height: 40px;
    margin: 40px 45px 40px;
  } 
  @media #{$mq-mobile} { 
    font-size: 25px;
    font-weight: bold;
    color: $red;
    font-family: helvetica, arial;
    line-height: 31px;
    margin: 32px;
  } 
}

h3{
  
  @media #{$mq-desktop} {
    font-size: 24px;
  }
  @media #{$mq-tablet} { 
    margin: 0 15px 20px; 
    font-size: 18px;
    margin-left: -2px;
  } 
}

h4{
  
  @media #{$mq-desktop} {
    font-size: 18px;
  }

  @media #{$mq-tablet} { 
    font-size: 24px;
    color: $paragraph;
  } 
}

h5{ 
  font-size: 18px;
  color: $DarkBlue;
  margin-left: -2px;  
}

h6{ 
  font-size: 18px;
  margin: 0 0 20px 0; 
}

@media #{$mq-tablet-mobile} { 

  .desktop {
    display: none;
  }
  article.hide, aside{
    display: none;
  }

  div.twitter{
    display: none;
  }
} 