@mixin small-screen($width: "", $height: "") {

  @media only screen and (max-width: $medium-screen) {

    @if $width != "" {

      width: $width;
    }

    @if $height != "" {

      height: $height;
    }

    @content;
  }
}

@mixin medium-screen($width: "", $height: "") {

  @media only screen and (min-width: $medium-screen) and (max-width: $big-screen) {

    @if $width != "" {

      width: $width;
    }

    @if $height != "" {

      height: $height;
    }

    @content;
  }
}