%header
  %div#tout
    %hgroup
      %h1 
        %a{:href => "/"}
          Kids 
          %span Ruby
      %h2 
        KidsRuby makes it fun and easy to learn how to program.
        %br/
    %a.button{:href => "/download"} Download Now
    or
    %a{:href => 'https://github.com/hybridgroup/kidsruby'} check out the code on Github.        
  %div#thumb
    %img{:src => "/images/weblogo.png", :id => "thumb-drive"}
%section
  %article
    %h1 Write Code
    %img{:src => "/images/kidsruby-osx.png"}
    %p You can see your code, run it, and see what it outputs all at the same time. This makes it a lot easier to learn.
  %article
    %h1 Try Code
    %img{:src => "/images/kidsruby-windows.png"}
    %p KidsRuby is real Ruby code. You can also do anything that "Hackety-Hack" can do like display messages. (Hackety-Hack is an older program for kids to learn programming using Ruby).
  %article
    %h1 Have Fun!
    %img{:src => "/images/kidsruby-ubuntu.png"}
    %p KidsRuby has Turtle graphics so you can draw pictures or just have fun with colors!
  %article
    %h1 Help Included
    %img{:src => "/images/kidsruby-help.png"}
    %p KidsRuby includes several of the best resources on the web for kids and learning Ruby. They are built right in so you do not even need an internet connection. How cool is that?
%aside
  #twitter-feed
%footer
  Handmade by <a href="http://hybridgroup.com">The Hybrid Group</a>

