%header.section-top.main
%section.main
  %article.title
    %h1.heading
      About
    %h2
      KidsRuby makes it fun and easy to learn how to program.
    %h3
      %a{:href => "/download"} Download 
      Now or check out the code on 
      %a{:href => 'https://github.com/hybridgroup/kidsruby'}Github.
  %article.page
    %h3 Write Code
    %img.code{:src => "/images/kidsruby-osx.png"}
    %p You can see your code, run it, and see what it outputs all at the same time. This makes it a lot easier to learn.
  %article.page
    %h3 Try Code
    %img.code{:src => "/images/kidsruby-windows.png"}
    %p KidsRuby is real Ruby code. You can also do anything that "Hackety-Hack" can do like display messages. (Hackety-Hack is an older program for kids to learn programming using Ruby).
  
