%header.sectionTitle
  %h2 Contact us here, for any questions, feedback or praise you want to send.
  For the latest news follow us @kidsruby.
%section
  %form
    %input name
    %input email
    %input message
