%header.sectionTitle
  %h1.lettering Contact
  %h2 Contact us here, for any questions, feedback or praise you want to send.
  For the latest news follow us <a href='http://twitter.com/kidsruby'>@kidsruby.</a>
%section
  %form#sign-up{:action => "/contact", :method => :post}
    %fieldset.top
      %label Name
      %input{:name => "name", :type => "text", :placeholder => "Name", :required=> ""}
    %fieldset.top#marginfix
      %label Email
      %input{:name => "email", :type => "email", :placeholder => "Email", :required => ""}
    %fieldset.bottom
      %label Message
      %textarea{:name => "message", :type => "text", :placeholder => "Tell us something!", :ROWS=>"9", :COLS=>"59", :required => ""}
    %fieldset#thankyou
      %label Thank you for contacting us.
    %fieldset.submit
      %input{:type => "submit", :value => "Submit"}
    %div.kidsInLine
      %span.icon-kidsMail1
      %span.icon-kidsMail2
      %span.icon-kidsMail3
      %span.icon-kidsMail4
