%header.sectionTitle
  %h2 Contact us here, for any questions, feedback or praise you want to send.
  For the latest news follow us <a href='http://twitter.com/kidsruby'>@kidsruby.</a>
%section
  %form#sign-up
    %fieldset.top
      %label Name
      %input{:name => "name", :type => "text", :placeholder => "Name", :required=> ""}
    %fieldset.top
      %label Email
      %input{:name => "email", :type => "email", :placeholder => "Email", :required => ""}
    %fieldset.bottom
      %label Message
      %input{:name => "message", :type => "text", :placeholder => "Tell us something!", :required => ""}
    %fieldset.submit
      %input{:type => "submit", :value => "Submit"}
