%header.sectionTitle
  %h2 Contact us here, for any questions, feedback or praise you want to send.
  For the latest news follow us @kidsruby.
%section
  %form#sign-up
    %fieldset
      %label Name
      %input{:name => "name", :type => "text", :placeholder => "Name"}
    %fieldset
      %label Email
      %input{:name => "email", :type => "Email", :placeholder => "Email"}
    %fieldset
      %label Message
      %input{:name => "message", :type => "text", :placeholder => "Tell us something!"}
    %fieldset
      %input{:type => "submit", :value => "Submit"}
