%header.sectionTitle
  %h1.lettering Download
  .dlwindows
    %a{:href => "https://s3.amazonaws.com/kidsruby/windows/kidsrubyinstaller-1.0.5.exe"}
      %img{:src => '/images/dlwindows.png'}
      -# windows version
      %p Kids Ruby 0.7.0 Installer
    %p KidsRuby for Windows Installer Source Code
  .dlmac
    %a{:href => "https://s3.amazonaws.com/kidsruby/osx/kidsrubyinstaller-1.0.5.dmg"}
      %img{:src => '/images/dlmac.png'}
      -# os version
      %p Kids Ruby 0.7.0 Installer
    %p KidsRuby for OSX Installer Source Code
%section
  %article
    %h1 KidsRuby OS
    %p We have a complete KidsRuby OS based on Ubuntu. You can download the ISO file and boot right into KidsRuby!
    %ul
      %li
        %a{:href => "https://s3.amazonaws.com/kidsruby/iso/KidsRuby-OS-0.6.1.iso"} Kids Ruby OS 0.6.1 ISO
  %article
    %h1 KidsRuby Lessons and Examples
    %p
      We are just getting started creating class materials to help put on your own KidsRuby classes. Also, here are a few simple examples of code.
    %ul
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby-class-1"} KidsRuby Class 1
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby-examples"} KidsRuby Examples
  %article
    %h1 KidsRuby Source Code
    %p
      Installing from the source code is a great solution for when you are comfortable enough with your platform and perhaps need specific settings for your environment. It’s also a good solution in the event that there are no other premade packages for your platform.
    %ul
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby"} KidsRuby Editor
      %li
        %a{:href => "https://github.com/hybridgroup/kidsrubyinstaller-windows"} KidsRuby Installer For Windows
      %li
        %a{:href => "https://github.com/hybridgroup/kidsrubyinstaller-osx"} KidsRuby Installer For OSX
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby-cookbook"} KidsRuby OS Cookbook <em>Server scripts to build KidsRuby OS using chef</em>
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby-os"} KidsRuby OS
