%header
  %div#tout
    %hgroup
      %h1 
        %a{:href => "/"}
          Kids 
          %span Ruby
      %h2 
        Here you can grab the latest Kids Ruby distributions in your favorite flavor.
        For the latest version news follow us <a href="http://www.twitter.com/kidsruby">@kidsruby</a>.
        %br/
        The current stable version is 0.5.
        %br/
        %br/
        View the source on <a href="https://github.com/hybridgroup/kidsruby">github.com/hybridgroup/kidsruby</a>
  %div#thumb
    %img{:src => "/images/weblogo.png", :id => "thumb-drive"}
%section
  %article
    %h1 Kids Ruby Source Code
    %p 
      Installing from the source code is a great solution for when you are comfortable enough with your platform and perhaps need specific settings for your environment. It’s also a good solution in the event that there are no other premade packages for your platform.
    %ul
      %li
        %a{:href => ""} Kids Ruby 0.5 (md5: 0d6953820c9918820dd916e79f4bfde8) Stable Version <em>(recommended)</em>
      %li
        %a{:href => ""} Kids Ruby 0.2
  %article
    %h1 Kids Ruby on Windows
    %p The easiest way to get Kids Ruby on windows is to run the KidsRuby Installer.
    %ul
      %li 
        %a{:href => ""} Kids Ruby 0.5 Installer
  %article
    %h1 Kids Ruby on Linux
    %p The easiest way to get Kids Ruby on windows is to run the KidsRuby Installer.
    %ul
      %li 
        %a{:href => ""} Kids Ruby 0.5 Installer
%aside
  #twitter-feed
%footer
  Handmade by <a href="http://hybridgroup.com">The Hybrid Group</a>

