%header
  %div#tout
    %hgroup
      %h1 
        %a{:href => "/"}
          Kids 
          %span Ruby
      %h2 
        Here you can grab the latest Kids Ruby distributions in your favorite flavor.
        %br/
        For the latest version news follow us <a href="http://www.twitter.com/kidsruby">@kidsruby</a>.
        %br/
        The current stable version is 0.7.0.
        %br/
        %br/
        View the source on <a href="https://github.com/hybridgroup/kidsruby">github.com/hybridgroup/kidsruby</a>
  %div#thumb
    %img{:src => "/images/weblogo.png", :id => "thumb-drive"}
%section
  %article
    %h1 Kids Ruby on Windows
    %p The easiest way to get Kids Ruby on Windows is to run the KidsRuby Installer.
    %ul
      %li 
        %a{:href => "https://s3.amazonaws.com/kidsruby/windows/kidsrubyinstaller-0.7.0.exe"} Kids Ruby 0.7.0 Installer
      %li 
        %a{:href => "https://github.com/hybridgroup/kidsrubyinstaller-windows"} KidsRuby for Windows Installer Source Code
  %article
    %h1 Kids Ruby on OSX
    %p We now have a KidsRuby Installer for OSX! Mac users, rejoice!
    %ul
      %li 
        %a{:href => "https://s3.amazonaws.com/kidsruby/osx/kidsrubyinstaller-0.7.0.dmg"} Kids Ruby 0.7.0 Installer
      %li 
        %a{:href => "https://github.com/hybridgroup/kidsrubyinstaller-osx"} KidsRuby for OSX Installer Source Code
  %article
    %h1 Kids Ruby OS
    %p We have a complete KidsRuby OS based on Ubuntu. You can download the ISO file and boot right into KidsRuby!
    %ul
      %li 
        %a{:href => "https://s3.amazonaws.com/kidsruby/iso/KidsRuby-OS-0.6.1.iso"} Kids Ruby OS 0.6.1 ISO
      %li 
        %a{:href => "https://github.com/hybridgroup/kidsruby-cookbooks"} Kids Ruby Chef Cookbook used to create the ISO (for unix hackers)
  %article
    %h1 Kids Ruby Source Code
    %p 
      Installing from the source code is a great solution for when you are comfortable enough with your platform and perhaps need specific settings for your environment. It’s also a good solution in the event that there are no other premade packages for your platform.
    %ul
      %li
        %a{:href => "https://github.com/hybridgroup/kidsruby"} Kids Ruby 0.7.0 Stable Version <em>(recommended)</em>
%aside
  #twitter-feed
%footer
  Handmade by <a href="http://hybridgroup.com">The Hybrid Group</a>

