
%header.sectionTitle
  %h1.lettering 
  %h2 Have fun and make games, or hack your homework using Ruby!  Just tell your parents or teachers you're learning Ruby programming... ;)

%body
%section.main
  %div.text
    %div.button
      %p
        Free and works on any computer.
      %a.redbutton{:href => "/"} Click here to see what it looks like.
    %article.hide   
      %h1
        KidsRuby Robot Edition: New Release With Support For Sphero Robots, Ubuntu, and Raspberry Pi
      %time{:datetime => "2013-01-15"} Tuesday, Jan. 15th, 2013
      %p
        We've just released the latest KidsRuby version 1.3, and we're very excited to announce built-in support for the Sphero robotic ball from Orbotix (http://gosphero.com). If you were at RubyConf in Denver you might have seen the preview, and now we've got everything you need to get started learning about the wonderful world of robotics! Support for more robots coming soon...  
    %article.hide   
      %h1
        KidsRuby Robot Edition: New Release With Support For Sphero Robots, Ubuntu, and Raspberry Pi
      %time{:datetime => "2013-01-15"} Tuesday, Jan. 15th, 2013
      %p
        We've just released the latest KidsRuby version 1.3, and we're very excited to announce built-in support for the Sphero robotic ball from Orbotix (http://gosphero.com). If you were at RubyConf in Denver you might have seen the preview, 
    %article.hide  
      %h1
        KidsRuby Robot Edition: New Release With Support For Sphero Robots, Ubuntu, and Raspberry Pi
      %time{:datetime => "2013-01-15"} Tuesday, Jan. 15th, 2013
      %p
        We've just released the latest KidsRuby version 1.3, and we're very excited to announce built-in support for the Sphero robotic ball from Orbotix (http://gosphero.com). If
    
%div#twitter    
  #twitter-feed
    <a class="twitter-timeline" href="https://twitter.com/KidsRuby" data-widget-id="350752890094227457">Tweets by @KidsRuby</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        


  