%header.sectionTitle
  %h2 Have fun and make games, or hack your homework using Ruby!
  Just tell your parents or teachers you're learning Ruby programming... ;)
  <br />Free and works on any computer. <a href="/about"><b>Click here to see what it looks like</b></a>.
%section.firstPage
  %article
    %h1 Who Dat, New Orleans? Thank You For An Excellent Kids Programming Class After RubyConf
    %p
      New Orleans, LA was the location of our KidsRuby class in cooperation with the <a href="http://rubyconf.org">International Ruby Conference (RubyConf)</a>. The Sunday after RubyConf was a beautiful day for code, and kids filled up all the space we had available. Thank you <a href="http://launchpadnola.com/">Launchpad NOLA</a> for sharing their office space with the kids of New Orleans. Thanks also to <a href="http://www.bluebox.net/">Blue Box Group</a> for donating USB drives, and of course special thanks to the volunteers!<br />

  %article
    %h1 KidsRuby Loves Raspberry Pi! Introducing Support For The New $25 Kids Computer
    %p
      We are extremely excited to announce that we have KidsRuby running on the new <a href="http://raspberrypi.org/">Raspberry Pi $25 computer</a>. The result of the hard work of a dedicated team located in the U.K., the Raspberry Pi uses an inexpensive ARM processor to bring the price of a computer down to an amazing new level. The first alpha version shown in public in the United States took place at the Golden Gate Ruby Conference during Ron Evans(<a href="http://twitter.com/deadprogram">@deadprogram</a>)'s opening talk on Sept. 16, the day before Raspberry Pi's more formal introduction at <a href="http://makerfaire.com/pub/e/7148">Maker Faire NYC</a>. You can watch the complete <a href="http://confreaks.net/videos/637-gogaruco2011-kidsruby-think-of-the-children">video of the talk on KidsRuby and Raspberry Pi here</a>. KidsRuby being able to support the Raspberry Pi opens up many new possibilities for helping teach the next generation of programmers, and we are delighted to be working together!<br />

  %article
    %h1 Kids Programming Class at the Golden Gate Ruby Conference Was Tremendous Fun
    %p
      We held a really fantastic class using KidsRuby in San Francisco, California on Sunday, September 18, in cooperation with the <a href="http://gogaruco.com">Golden Gate Ruby Conference</a> which was held on September 16th & 17th. Special thank you to <a href="http://twitter.com/sarahmei">Sarah Mei</a> for helping organize it, <a href="http://pivotallabs.com/">Pivotal Labs</a> for sharing their office space with the kids of San Francisco, and especially all of the volunteers that came out and helped with the class.<br />

  %article
    %h1 It Was Great Showing Off KidsRuby and Flying Robot at the Pasadena Science Technology Engineering and Math (STEM) Expo
    %p
      On Saturday, June 11, we were demoing KidsRuby and also bringing Flying Robots #4 & #5 to the Pasadena Science Technology Engineering and Math (STEM) Expo. Put together by the remarkable efforts of Erik Dreyer of Pasadena Robotics, the combination expo and robotics competition was lots of fun for all. We were doing UAV overflights with our video camera, as well as students fly the blimps. We WILL be posting video, rest assured! If you were there, thank you for sharing the geeky fun with Pasadena/Los Angeles. There is more info <a href="http://www.pasedfoundation.org/parentsstudents/2011-robotics-competition/">available here</a> about the expo.<br />
  %article.last
    %p.next
      %a.next#nextpage{:href => '#'} next page >>
%section.secondPage
  %article
    %h1 Thanks Baltimore, for An Awesome KidsRuby
    %p
      On Monday, May 16, KidsRuby came to Baltimore, Maryland to hold another awesome kids programming class, in cooperation with <a href="http://bohconf.com">BohConf 2011</a> and <a href="http://www.railsconf.com">RailsConf 2011</a>. This was one of our best events yet, with an amazing group of young people who came in from Digital Harbor HS each equipped with their own school-issued MacBooks, no less. Go, Baltimore! Local civic leader and Rubyist <a href="http://davetroy.com/">Dave Troy</a> was also in attendance, with his kids in tow. Thank you so very much to everyone who helped out with the class, especially the teachers from Digital Harbor, your efforts are appreciated!<br />

  %article
    %h1 The Kids Programming Class at BarcampLA Was Excellent
    %p
      Last Sunday, May 1, we held another KidsRuby class in Los Angeles, California, in cooperation with <a href="http://barcampla.org">BarCampLA</a>. It was another great turnout, with even a few "big kids" from Barcamp joining in as both teachers and students. Thank you to everyone who helped make it happen, kids programming is awesome!<br />

  %article
    %h1 A Fantastic Time Had By All at KidsRuby in Bend, Oregon
    %p
      We held a KidsRuby class in Bend, Oregon on March 26th, in cooperation with the <a href="http://ruby.onales.com">Ruby On Ales Conference</a>. A fantastic class, and a very fun morning. We had a great venue provided by G5 (<a href="http://www.g5platform.com/">http://www.g5platform.com/</a> thanks guys!) and an amazing turnout. There were also lots of local Rubyists out to help the class, which was good because there were lots of kids ready to have fun with Ruby. Thank you everyone for making it a great event!

  %article
    %h1 The Los Angeles Ruby Conference for Kids Was Awesome, Thank You!
    %p
      We taught our first class using nothing but KidsRuby in Los Angeles on February 4th, in cooperation with the Los Angeles Ruby Conference (<a href="http://larubyconf.com">LARubyConf</a>). It was really an excellent class, and everyone had a great time and learned about Ruby. Thank you very much to the students, teachers, and especially the KidsRuby dev team for working so hard to get that first version of KidsRuby ready in time for the class.
  %article
    %h1 What do you exactly mean by "hack your homework"?
    %p When we say "hack your homework" we mean "learn how to write a computer program to help you with your homework". For example, writing code to solve a particular math problem. By showing kids that programming can apply to the real world, like any subject, it becomes a lot more interesting to learn about.
    %p The term "hack" in the computer world, means to be able to do something with hardware or software that the original designers did not realize could be done, usually in a good way. This term is often confused with the term "crack" which means to bypass security of some kind, usually considered something bad that you do not wish to do.

  %article
    %h1 A little more detail? 
    %p KidsRuby provides a way that kids can use the awesome programming language Ruby to learn how to write their own software. While using a simple interface, it still lets them explore the full capabilities of the Ruby language.
    %p In addition to providing a full Ruby programming environment for kids, we are also have a complete KidsRuby operating system based on Ubuntu Linux that makes it easy for kids to learn how to program in Ruby on any computer. And it will let them do it anywhere they go, just bring their own USB drive, plug in, and reboot.
  %article
    %p.next
      %a.next#previouspage{:href => '#'} << previous page
