%header
  %div#tout
    %hgroup
      %h1 
        %a{:href => '/'}
          Kids 
          %span Ruby
      %h2 Have fun and make games, or hack your homework using Ruby! <br />Just tell your parents or teachers you're learning Ruby programming... ;) <br />Free and works on any computer. <a href="/about">Click here to see what it looks like</a>.
    %a.button{:href => "/download"} Download Now
    or
    %a{:href => 'https://github.com/hybridgroup/kidsruby'} check out the code on Github.
    %div#addthis
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_counter addthis_pill_style"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d3044bd33b50dde"></script>
      <!-- AddThis Button END -->
  %div#thumb
    %img{:src => "/images/weblogo.png", :id => "thumb-drive"}
%section
  %article
    %h1 Sign up! Free Kids Programming Class in Los Angeles, California on May 1st
    %p 
      We have set aside 2 hours to teach kids Ruby programming using KidsRuby in Los Angeles, California on May 1st, 2011, in cooperation with <a href="http://barcampla.org">BarCampLA</a>. Come on out and let's have fun with Ruby!<br />
      %a{:href => "http://kidsruby-barcampla.eventbrite.com/"} You click here to register for the kids class.

  %article
    %h1 A Fantastic Time Had By All at KidsRuby in Bend, Oregon
    %p
      We held a KidsRuby class in Bend, Oregon on March 26th, in cooperation with the <a href="http://ruby.onales.com">Ruby On Ales Conference</a>. A fantastic class, and a very fun morning. We had a great venue provided by G5 (<a href="http://www.g5platform.com/">http://www.g5platform.com/</a> thanks guys!) and an amazing turnout. There were also lots of local Rubyists out to help the class, which was good because there were lots of kids ready to have fun with Ruby. Thank you everyone for making it a great event!

  %article
    %h1 The Los Angeles Ruby Conference for Kids Was Awesome, Thank You!
    %p
      We taught our first class using nothing but KidsRuby in Los Angeles on February 4th, in cooperation with the Los Angeles Ruby Conference (<a href="http://larubyconf.com">LARubyConf</a>). It was really an excellent class, and everyone had a great time and learned about Ruby. Thank you very much to the students, teachers, and especially the KidsRuby dev team for working so hard to get that first version of KidsRuby ready in time for the class.
  %article
    %h1 What do you exactly mean by "hack your homework"?
    %p When we say "hack your homework" we mean "learn how to write a computer program to help you with your homework". For example, writing code to solve a particular math problem. By showing kids that programming can apply to the real world, like any subject, it becomes a lot more interesting to learn about.
    %p The term "hack" in the computer world, means to be able to do something with hardware or software that the original designers did not realize could be done, usually in a good way. This term is often confused with the term "crack" which means to bypass security of some kind, usually considered something bad that you do not wish to do.
      
  %article
    %h1 A little more detail? 
    %p KidsRuby provides a way that kids can use the awesome programming language Ruby to learn how to write their own software. While using a simple interface, it still lets them explore the full capabilities of the Ruby language.
    %p In addition to providing a full Ruby programming environment for kids, we are also working on a complete KidsRuby operating system based on Ubuntu Linux  that makes it easy for kids to learn how to program in Ruby on any computer. And it will let them do it anywhere they go, just bring their own USB drive, plug in, and reboot.
%aside
  #twitter-feed
%footer
  Handmade by <a href="http://hybridgroup.com">The Hybrid Group</a>
