%header
  %div#tout
    %hgroup
      %h1
        
  %div#thumb

%header
  %h2 Have fun and make games, or hack your homework using Ruby! <br />Just tell your parents or teachers you're learning Ruby programming... ;) <br />Free and works on any computer. <a href="/about">Click here to see what it looks like</a>.
