@media only screen and (max-width: 641px) and (min-width: 1px) {
  a.red-button {
    display: block;
    height: 135px;
    width: 524px;
    background: #d02131;
    overflow: visible;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 130px;
    box-shadow: 5px 10px 0 #bad6e2;
    margin: 0 0 0 45px;
  }
  a.red-button:hover {
    color: white;
    box-shadow: 5px 10px 2px #72abc4;
  }
}
