a.About {
  text-align: center;
  margin-right: 199px;
}

input[type=checkbox].css-checkbox {
  position: relative;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 15px;
  width: 15px;
  margin: -1px;
  padding: 0;
  border: 0;
}

label.css-label {
  background-image: none;
  margin-top: -3px;
  padding-left: 0;
  height: 12px;
  display: inline-block;
  line-height: 14px;
  background-repeat: no-repeat;
  font-size: 16px;
  cursor: pointer;
}
