/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

:focus, :active {
  outline: 0 none;
}

a, a:active, a:visited {
  text-decoration: none;
}

a:hover {
  color: red;
}

button:hover {
  cursor: pointer;
  text-rendering: optimizeLegibility;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  background: url("/images/kidsRubyTop.png") no-repeat top, url("/images/kidsRubyBottom.png") no-repeat bottom;
  background-color: #286ba5;
  font-family: helvetica;
}

nav {
  background: url("/images/signBoard.png") no-repeat center;
  float: right;
  height: 93px;
  position: relative;
  right: 93px;
  width: 329px;
}
nav ul {
  list-style: none;
  margin-top: 51px;
}
nav ul a {
  color: white;
  float: left;
  font-size: 16px;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}
nav ul a.first {
  margin: 0 7px 0 20px;
}
nav ul a:hover {
  color: white;
  text-shadow: -1px -1px 1px black;
}

header.sectionTitle {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #e8edf3;
  margin-top: 145px;
  padding: 25px 0 20px 90px;
  font-size: 24px;
}
* html header.sectionTitle {
  overflow-x: hidden;
}
header.sectionTitle a {
  color: #ff1941;
}

img#thumb-drive {
  height: 135px;
  float: left;
  position: relative;
  left: 42px;
  top: 43px;
  opacity: 0.9;
}
img#thumb-drive:hover {
  opacity: 1;
}

aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-right: 10px;
  background-color: #dce4ed;
  height: 1244px;
}
* html aside {
  overflow-x: hidden;
}

footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 15px;
}
* html footer {
  overflow-x: hidden;
}

section {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f2f5;
}
* html section {
  overflow-x: hidden;
}
section article {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 510px;
  margin-left: 60px;
  text-align: justify;
}
* html section article {
  overflow-x: hidden;
}
section article h1 {
  color: red;
  padding: 10px 0;
}
section article p {
  padding: 10px 0;
}

.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

#twitter-feed ul {
  margin: 0px;
  padding: 0px;
}
#twitter-feed ul li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  background: #FFFDEA;
  clear: both;
  font-size: 11px;
  list-style: none;
  margin: 0px 0px 8px 0px;
  min-height: 55px;
  padding: 3px;
}
#twitter-feed ul li a img {
  background: none;
  border: 1px solid #FEDDC8;
  float: left;
  height: 40px;
  margin-right: 5px;
  padding: 2px;
  width: 40px;
}
#twitter-feed ul li a.JRM {
  display: inline;
  font-size: 10px;
}
#twitter-feed ul li span.time {
  color: #999;
  display: inline-block;
  font-size: 10px;
}
