/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.icon-sprite, .icon-fb, .icon-kidsMail1, .icon-kidsMail2, .icon-kidsMail3, .icon-kidsMail4, .icon-rss, .icon-twitter, .icon-twitterbutton {
  background: url('../images/icon-sfee8d060da.png') no-repeat;
}

.icon-fb {
  background-position: 0 0;
}

.icon-kidsMail1 {
  background-position: 0 -44px;
}

.icon-kidsMail2 {
  background-position: 0 -111px;
}

.icon-kidsMail3 {
  background-position: 0 -229px;
}

.icon-kidsMail4 {
  background-position: 0 -352px;
}

.icon-rss {
  background-position: 0 -446px;
}

.icon-twitter {
  background-position: 0 -487px;
}

.icon-twitterbutton {
  background-position: 0 -531px;
}

:focus, :active {
  outline: 0 none;
}

a, a:active, a:visited {
  text-decoration: none;
}

a {
  color: #ff1941;
}

a:hover {
  color: red;
}

button:hover {
  cursor: pointer;
  text-rendering: optimizeLegibility;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  background: url("/images/kidsRubyTop.png") no-repeat top, url("/images/kidsRubyBottom.png") no-repeat bottom;
  background-color: #286ba5;
  font-family: helvetica;
}

label {
  color: #3b678d;
  margin-bottom: 10px;
  display: block;
}

input[type="text"], input[type="email"], textarea {
  -moz-box-shadow: inset 1px 1px 1px #b4c6d2;
  -webkit-box-shadow: inset 1px 1px 1px #b4c6d2;
  -o-box-shadow: inset 1px 1px 1px #b4c6d2;
  box-shadow: inset 1px 1px 1px #b4c6d2;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  background: #d8e6ef;
  border: 1px solid #e5e5dd;
  color: #2c61c9;
  font-size: 12px;
  padding: 8px 8px;
  max-width: 455px;
  overflow: auto;
  text-shadow: 1px 1px 1px white;
}

input[type="submit"] {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 8px 7px;
  font: bold 13px helvetica;
  line-height: 1;
  color: #DCE4ED;
  border: 1px solid #4c97c2;
  background-color: #2e70a8;
  cursor: pointer;
  text-shadow: 1px 1px 2px #643016;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3287bf), to(#2e70a8));
  background-image: -moz-linear-gradient(19% 75% 90deg, #3287bf, #2e70a8);
}

input[type="submit"]:hover {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: "signpainter";
  src: url("/font/signpainter_housebrush.ttf");
}

nav {
  background: url("/images/signBoard.png") no-repeat center;
  float: right;
  height: 93px;
  position: relative;
  right: 93px;
  width: 329px;
}
nav ul {
  list-style: none;
  margin-top: 51px;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-family: 'signpainter', helvetica;
  color: white;
  float: left;
  font-size: 20px;
  padding: 5px 0;
  opacity: 0.9;
  text-align: center;
  width: 100px;
}
nav ul a.first {
  font-size: 25px;
  line-height: 17px;
  margin: 0 7px 0 20px;
}
nav ul a.last {
  width: 85px;
  margin-left: 5px;
}
nav ul a:hover {
  color: white;
  opacity: 1;
}

.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

img#thumb-drive {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  height: 135px;
  float: left;
  position: relative;
  left: 42px;
  top: 43px;
}
img#thumb-drive:hover {
  -moz-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

header.sectionTitle {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #e8edf3;
  color: #369;
  font-size: 24px;
  line-height: 25px;
  margin-top: 170px;
  padding: 25px 20px 28px 60px;
  text-shadow: 1px 1px 1px #CCC;
}
* html header.sectionTitle {
  overflow-x: hidden;
}
header.sectionTitle h1 {
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.hide {
  display: none;
}

section.secondPage {
  display: none;
}

aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  color: #4380b4;
  background-color: #dce4ed;
  min-height: 1271px;
  padding-right: 10px;
}
* html aside {
  overflow-x: hidden;
}
aside div.social {
  padding-left: 20px;
  padding-right: 10px;
}
aside div.social div#addthis {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjhmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyZWRmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f1f8fc), color-stop(100%, #e2edf4));
  background-image: -webkit-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -moz-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -o-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -ms-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: linear-gradient(top left, #f1f8fc, #e2edf4);
  -moz-box-shadow: 1px 1px 1px #a1b2c0;
  -webkit-box-shadow: 1px 1px 1px #a1b2c0;
  -o-box-shadow: 1px 1px 1px #a1b2c0;
  box-shadow: 1px 1px 1px #a1b2c0;
  height: 121px;
  margin-top: 21px;
}
aside div.social div#addthis .socialButtons {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  margin: 16px 0 10px 68px;
  float: left;
  height: 44px;
  width: 45px;
}
aside div.social div#addthis .socialButtons:hover {
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
aside div.social div#addthis span.socialNumbers {
  color: #666;
  font-size: 12px;
  float: left;
  margin-left: 66px;
  text-align: center;
  width: 47px;
}
aside div.social div#addthis span.socialNumbers.first {
  margin-left: 30px;
}
aside div.social div#addthis span.socialNumbers .counts {
  font-size: 24px;
}
aside div.social header {
  text-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
  color: #1f5380;
  margin-bottom: 20px;
  margin-top: 30px;
}
aside form {
  border-bottom: 2px solid #E3E9F1;
}
aside fieldset.newsletter {
  text-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
  margin-top: 30px;
  margin-bottom: 28px;
}
aside fieldset.subscribe {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjhmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyZWRmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f1f8fc), color-stop(100%, #e2edf4));
  background-image: -webkit-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -moz-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -o-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: -ms-linear-gradient(top left, #f1f8fc, #e2edf4);
  background-image: linear-gradient(top left, #f1f8fc, #e2edf4);
  -moz-box-shadow: 1px 1px 1px #a1b2c0;
  -webkit-box-shadow: 1px 1px 1px #a1b2c0;
  -o-box-shadow: 1px 1px 1px #a1b2c0;
  box-shadow: 1px 1px 1px #a1b2c0;
  border-bottom: 2px solid #e3e9f1;
  height: 50px;
  margin-bottom: 30px;
}
aside fieldset.subscribe input[type='email'] {
  padding: 0 30px 0 8px;
  height: 30px;
  font-weight: 700;
  margin: 10px 0 0 10px;
  width: 182px;
}
aside fieldset.subscribe input[type='submit'] {
  margin: 10px 10px 0 -23px;
  padding: 9px 10px;
  position: absolute;
}
aside fieldset.subscribe input[type='submit']:hover {
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7);
  -o-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7);
}
aside fieldset.subscribe #thanks4email {
  display: none;
  padding: 18px 4px;
  text-align: center;
}
aside .icon-twitterbutton {
  float: left;
  height: 82px;
  margin: 0 10px 10px 0;
  width: 82px;
}
aside .icon-twitterbutton:hover {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
aside span.twitterinfo {
  font-size: 11px;
}
aside span.twitterinfo header {
  margin-bottom: 0;
  font-size: 12px;
  text-shadow: none;
  color: #4380B4;
}
aside #twitter-feed {
  float: left;
  margin-top: 10px;
}
aside #twitter-feed ul {
  margin: 0px;
  padding: 0px;
}
aside #twitter-feed ul li {
  clear: both;
  font-size: 11px;
  list-style: none;
  margin: 0px 0px 30px 0px;
  min-height: 55px;
}
aside #twitter-feed ul li a img {
  background: none;
  float: left;
  height: 40px;
  margin: 0 10px 45px 0;
  width: 40px;
}
aside #twitter-feed ul li a.JRM {
  display: inline;
  float: left;
  font-size: 10px;
}
aside #twitter-feed ul li span.time {
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
}

section {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 1271px;
  background-color: #f3f2f5;
}
* html section {
  overflow-x: hidden;
}
section article {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 510px;
  border-bottom: 2px solid #E8EDF3;
  margin-left: 60px;
  text-align: justify;
}
* html section article {
  overflow-x: hidden;
}
section article.last {
  border-bottom: none;
  margin-bottom: 93px;
}
section article h1 {
  color: #FF1941;
  font-size: 18px;
  font-weight: 600;
  padding: 40px 0 10px 0;
  text-align: left;
}
section article p {
  color: #369;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0 25px 0;
  line-height: 20px;
}
section article p.next {
  float: right;
  margin-top: 30px;
  padding-right: 40px;
}
section article p a {
  color: #ff1941;
}
section article.about {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  margin-left: 20px;
}
* html section article.about {
  overflow-x: hidden;
}
section article img {
  width: 590px;
}
section article ul {
  line-height: 20px;
  margin-bottom: 30px;
}
section article ul li {
  color: #1f5380;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 8px;
}
section article ul li a {
  color: #ff1941;
  font-size: 14px;
}
section time {
  color: #369;
}
section form#sign-up {
  margin: 5px 90px 0px;
}
section form#sign-up fieldset {
  margin-top: 30px;
}
section form#sign-up fieldset.top {
  display: inline;
  float: left;
  margin-right: 8px;
}
section form#sign-up fieldset.top input {
  width: 200px;
}
section form#sign-up fieldset#marginfix {
  margin-right: -40px;
}
section form#sign-up fieldset.bottom {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  margin-top: 10px;
}
* html section form#sign-up fieldset.bottom {
  overflow-x: hidden;
}
section form#sign-up fieldset.bottom input {
  height: 140px;
  width: 425px;
}
section form#sign-up fieldset#thankyou {
  display: none;
  float: left;
  margin: 208px 0 130px 90px;
  font-size: 24px;
}
section form#sign-up fieldset.submit {
  float: right;
  margin-right: 0;
}
section .kidsInLine {
  display: block;
  float: left;
  margin-left: 40px;
}
section .kidsInLine span {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  float: left;
  opacity: 0.9;
}
section .kidsInLine span.icon-kidsMail1 {
  height: 67px;
  margin-top: 65px;
  width: 100px;
}
section .kidsInLine span.icon-kidsMail1:hover {
  -moz-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
section .kidsInLine span.icon-kidsMail2 {
  height: 118px;
  margin-top: 10px;
  width: 100px;
}
section .kidsInLine span.icon-kidsMail2:hover {
  -moz-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
section .kidsInLine span.icon-kidsMail3 {
  height: 123px;
  width: 100px;
}
section .kidsInLine span.icon-kidsMail3:hover {
  -moz-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
section .kidsInLine span.icon-kidsMail4 {
  height: 94px;
  margin-left: 5px;
  margin-top: 27px;
  width: 70px;
}
section .kidsInLine span.icon-kidsMail4:hover {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}
section .kidsInLine span:hover {
  opacity: 1;
}

footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 155px;
}
* html footer {
  overflow-x: hidden;
}
footer div {
  position: absolute;
  margin-top: -85px;
  margin-left: 175px;
}
footer span, footer a {
  color: #1f5380;
}
footer span.rights {
  font-size: 12px;
}
footer img {
  position: absolute;
}
footer img.left {
  left: 0;
  margin-top: -256px;
}
footer img.right {
  right: 0;
  margin-top: -273px;
}
