/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.icon-sprite, .icon-fb, .icon-linux_de, .icon-linux_pi, .icon-mac_osx, .icon-twitter, .icon-twitterbutton, .icon-windows {
  background: url('../images/icon-sbd8c27b408.png') no-repeat;
}

.icon-fb {
  background-position: 0 -759px;
}

.icon-linux_de {
  background-position: 0 -525px;
}

.icon-linux_pi {
  background-position: 0 0;
}

.icon-mac_osx {
  background-position: 0 -350px;
}

.icon-twitter {
  background-position: 0 -818px;
}

.icon-twitterbutton {
  background-position: 0 -700px;
}

.icon-windows {
  background-position: 0 -175px;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@font-face {
  font-family: "OpenSans";
  src: url("/font/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "bender";
  src: url("/font/Bender-Solid.otf");
}

@media only screen and (max-width: 768px) and (min-width: 642px) {
  body {
    background-color: #81c2ea;
    font-family: helvetica, arial, sans-serif;
    overflow-x: hidden;
  }

  .desktop {
    display: none;
  }

  .background {
    background: url("/images/bg768.png") no-repeat center top;
    position: relative;
    width: 768px;
    left: -75px;
    height: 350px;
  }

  .ruby-tablet {
    background: url("/images/rubyglow_tablet.png") no-repeat;
    position: relative;
    width: 114px;
    height: 131px;
    left: 12px;
    top: 33px;
    margin: 0 auto;
    z-index: 999;
  }

  .logo {
    height: 122px;
    width: 120px;
  }

  .kids-container {
    margin: 0 auto;
    width: 336px;
    height: 350px;
    position: relative;
    z-index: 990;
    top: 2px;
    left: 78px;
    float: left;
  }

  .kid-small {
    height: 220px;
    width: 125px;
    position: relative;
    z-index: 999;
    top: 50px;
    float: left;
    margin-right: 3px;
  }

  .kid-big {
    height: 275px;
    width: 208px;
    position: relative;
    z-index: 999;
    float: left;
  }

  a.kidsruby {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    background: url("/images/weblogoTablet.png") no-repeat top;
    height: 122px;
    width: 120px;
    display: block;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10%;
  }
  a.kidsruby:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  nav {
    display: block;
    position: relative;
    z-index: 9;
    margin-top: 5%;
  }

  ul.nav {
    list-style-type: none;
    display: none;
    background: url("/images/board.png") no-repeat top;
    height: 154px;
  }

  a.nav {
    width: 237px;
    display: block;
    float: left;
    padding: 15px 0  0 70px;
    margin: 10px -1px -22px 0;
    height: 70px;
    text-decoration: none;
    color: #c3e2f5;
    font-size: 38px;
    font-family: 'bender', sans-serif;
    text-shadow: #75441f -2px 2px 1px;
  }
  a.nav:hover {
    text-shadow: #4c2d14 -2px 2px 1px;
    color: #c3e2f5;
    text-decoration: none;
  }
  a.nav:active {
    text-shadow: gray 0 1px 0;
  }

  a.active {
    color: #7fc6e9;
    text-shadow: #241509 -1px 2px 2px;
  }

  .nav-button {
    height: 20px;
    width: 6%;
    min-width: 30px;
    margin: -98px 20px 0 20px;
    padding: 2px 0;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 9;
  }
  .nav-button:hover {
    cursor: pointer;
  }

  span.icon-bar {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #d02131;
  }

  .icon-bar + .icon-bar {
    margin-top: 6px;
  }

  nav a#pull {
    height: 0;
    font-size: 28px;
    color: #620f17;
    font-family: 'bender';
    display: block;
    width: 100%;
    text-align: center;
  }

  nav a#pull:after {
    content: "";
    display: inline-block;
    position: absolute;
  }

  .container {
    margin: 0 auto;
    width: 614px;
    min-height: 100%;
    position: relative;
  }

  header.section-top {
    display: inline-block;
    float: left;
    background-color: #e2f4f7;
    width: 614px;
    margin: 0 0 63px 0;
  }

  .wrapper {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 0 5px #c2e8ee;
    float: left;
    margin: -58px auto 10px;
    background-color: #e2f4f7;
    width: 614px;
    position: relative;
  }

  h2.title {
    font-size: 30px;
    color: #d02131;
    font-family: 'OpenSans', sans-serif;
    line-height: 40px;
    margin: 40px 45px 40px;
  }

  section.main {
    margin-top: -63px;
    display: inline-block;
    float: left;
    width: 614px;
    height: 100%;
    background-color: #e2f4f7;
    padding-bottom: 50px;
    margin-bottom: 50px;
    overflow: auto;
  }

  p.button-top {
    font-family: helvetica, arial;
    font-size: 30px;
    color: #2e596a;
    font-weight: bold;
    margin: 0 45px 15px 55px;
  }

  a.red-button {
    display: block;
    height: 135px;
    width: 524px;
    background: #d02131;
    overflow: visible;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 130px;
    box-shadow: 5px 10px 0 #bad6e2;
    margin: 0 0 0 45px;
  }
  a.red-button:hover {
    color: white;
    text-decoration: none;
    box-shadow: 5px 10px 2px #72abc4;
  }

  article.hide, aside {
    display: none;
  }

  .lettering {
    font-size: 40px;
    font-family: 'OpenSans', sans-serif;
    line-height: 30px;
    margin: 20px 15px 20px;
    color: rgba(208, 33, 49, 0.95);
    text-align: center;
  }

  h3 {
    color: #e55865;
    margin: 0 15px 20px;
  }

  footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    text-align: center;
  }

  article.title {
    width: 470px;
    padding: 0 40px  0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  h1.heading {
    font-size: 40px;
    line-height: 30px;
    padding: 50px 0 30px 0;
    text-align: center;
    color: #ba1d2c;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    color: #2290c6;
    padding: 0 0 10px 0;
  }

  h2.osxwarn {
    color: #2290c6;
    font-size: 22px;
    line-height: 26px;
    padding: 0 40px 10px;
  }

  h3 {
    font-size: 18px;
    color: #2290c6;
    margin-left: -2px;
  }

  h5 {
    font-size: 18px;
    color: #5173a9;
    margin-left: -2px;
  }

  a {
    text-decoration: underline;
    color: #d02131;
  }

  a.warning {
    color: #2290c6;
    text-decoration: underline;
  }

  a.dl {
    display: block;
    float: left;
    width: 183px;
    height: 175px;
    margin: 0 30px 20px 45px;
  }
  a.dl:hover {
    text-decoration: none;
  }

  a.dl.first, a.dl.third {
    margin-left: 87px;
  }

  a.dl.fourth {
    margin-bottom: 37px;
  }

  span.windows-version, span.mac-version, span.pi-version, span.de-version {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    top: 94px;
    left: 94px;
    position: relative;
  }

  span.mac-version {
    top: 92px;
    left: 107px;
  }

  span.pi-version {
    top: 88px;
    left: 87px;
  }

  span.de-version {
    top: 88px;
    left: 88px;
  }

  article.page {
    width: 470px;
    padding: 10px 40px 0;
    font-family: 'Open Sans', sans-serif;
  }

  h4 {
    font-size: 24px;
    color: #2290c6;
  }

  h6 {
    font-size: 18px;
    color: #2290c6;
    margin: 0 0 20px 0;
  }

  p {
    color: #737373;
  }

  p.dl {
    color: #6e7d86;
    margin: -15px 0 10px 0;
  }

  ul.download {
    list-style: none;
  }

  a.download {
    line-height: 30px;
    text-decoration: underline;
    color: #ba1d2c;
  }

  form.sign-up {
    font-family: 'Open Sans', sans-serif;
    margin: 0  92px 0px;
    padding: none;
  }

  fieldset.top {
    height: 41px;
    width: 220px;
    float: left;
    display: block;
    position: relative;
    margin: 30px 0 5px -25px;
    clear: both;
  }

  input.contact {
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 440px;
    height: 35px;
    border: 1px solid #737373;
    margin: 0 auto;
    padding: 1px 0 1px 16px;
  }
  input.contact:hover {
    box-shadow: 0 0 2px black;
  }

  textarea {
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 440px;
    height: 100px;
    border: 1px solid #737373;
    padding: 5px 0 1px 16px;
  }
  textarea:hover {
    box-shadow: 0 0 2px black;
  }

  fieldset.send {
    color: #2290c6;
    position: absolute;
    display: block;
    float: left;
    margin-top: 320px;
  }

  input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: show;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  label.css-label {
    background-image: url("/images/checkbox.png");
    height: 12px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -3px;
    padding-left: 20px;
  }

  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
  }

  fieldset.thankyou {
    display: none;
    float: left;
    font-size: 24px;
  }

  fieldset.submit {
    padding: 132px 0 0 65px;
    display: block;
    float: left;
  }

  input.submit {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 43px;
    width: 265px;
    background: #ba1d2c;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    border: none;
    margin-left: 18px;
  }
  input.submit:hover {
    box-shadow: 2px 2px 2px #72abc4;
    cursor: pointer;
  }
  input.submit:active {
    box-shadow: 2px 2px 4px #2e5b6f;
  }

  div.twitter {
    display: none;
  }

  .bottom {
    display: none;
  }

  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 641px) and (min-width: 1px) {
  body {
    background-color: #81c2ea;
    max-height: 1000px;
    font-family: helvetica, arial, sans-serif;
  }

  .desktop {
    display: none;
  }

  .background {
    width: 100%;
    min-height: 130%;
    background: url("/images/640res.png") no-repeat center top;
    background-size: 100% auto;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    display: block;
    position: absolute;
    z-index: 0;
  }

  a.kidsruby {
    background: url("/images/weblogomobile.png") no-repeat top;
    background-size: 16%;
    height: 45%;
    width: 100%;
    float: left;
    display: block;
    position: absolute;
    z-index: 1;
    right: 35%;
    top: 2%;
    margin-bottom: 5px;
  }

  div.glow {
    background: url("/images/background_mobile.png") no-repeat center top;
    background-size: 100% auto;
    width: 110%;
    min-height: 200%;
    padding-left: 25%;
    margin-top: -7%;
  }

  nav {
    background-color: #e2f4f7;
    display: block;
    position: relative;
    z-index: 9;
    margin-top: 23%;
  }

  ul.nav {
    list-style-type: none;
    display: none;
    height: auto;
  }

  a.nav {
    display: block;
    padding-left: 40px;
    padding-top: 4px;
    height: 46px;
    text-decoration: none;
    color: #d02131;
    font-size: 38px;
    font-family: 'bender', sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    text-shadow: #a6a6a6 -1px 2px 0;
  }
  a.nav:hover {
    color: #de2c3d;
    text-decoration: none;
  }
  a.nav:active {
    text-shadow: gray 0 1px 0;
  }

  a.active {
    background: url("/images/active.png") repeat;
    color: #d02131;
    background-color: #f2f2f2;
  }

  .nav-button {
    height: 20px;
    width: 6%;
    min-width: 30px;
    margin: -16.7% 20px 0 20px;
    padding: 4px;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    right: 4%;
    z-index: 9;
  }
  .nav-button:hover {
    cursor: pointer;
  }

  span.icon-bar {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #d02131;
  }

  .icon-bar + .icon-bar {
    margin-top: 6px;
  }

  nav a#pull {
    height: 0;
    font-size: 28px;
    color: #620f17;
    font-family: 'bender';
    display: block;
    width: 100%;
    text-align: center;
  }

  nav a#pull:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    min-height: auto;
  }

  header.section-top {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    z-index: 1;
    background-color: #e2f4f7;
    margin-top: 50%;
  }

  h2.title {
    font-size: 25px;
    font-weight: bold;
    color: #d02131;
    font-family: helvetica, arial;
    line-height: 31px;
    margin: 32px;
  }

  section.main {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline;
    float: right;
    width: 100%;
    height: 100%;
    background-color: #e2f4f7;
    position: relative;
    margin: 0 0 80% 0;
    padding: 0 0 100px;
    z-index: 10;
  }

  p.button-top {
    font-family: helvetica, arial;
    font-size: 28px;
    color: #2e596a;
    font-weight: bold;
    margin: 0 41px 16px;
  }

  a.red-button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background: #d02131;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #c21f2e), color-stop(50%, #d82233), color-stop(100%, #ac1b29));
    background-image: -webkit-linear-gradient(left top, #c21f2e, #d82233, #ac1b29);
    background-image: -moz-linear-gradient(left top, #c21f2e, #d82233, #ac1b29);
    background-image: -o-linear-gradient(left top, #c21f2e, #d82233, #ac1b29);
    background-image: linear-gradient(left top, #c21f2e, #d82233, #ac1b29);
    text-decoration: none;
    display: block;
    width: 65%;
    height: 15%;
    overflow: visible;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    box-shadow: 8px 8px 0 #bad6e2;
    margin: 0 auto;
    padding: 40px 5%;
    line-height: 50px;
  }
  a.red-button:hover {
    color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #c21f2e), color-stop(50%, #dd2839), color-stop(100%, #b51d2b));
    background-image: -webkit-linear-gradient(left top, #c21f2e, #dd2839, #b51d2b);
    background-image: -moz-linear-gradient(left top, #c21f2e, #dd2839, #b51d2b);
    background-image: -o-linear-gradient(left top, #c21f2e, #dd2839, #b51d2b);
    background-image: linear-gradient(left top, #c21f2e, #dd2839, #b51d2b);
    box-shadow: 8px 8px 4px #72abc4;
    text-decoration: none;
  }

  article.hide, aside, .subscribe, div.twitter {
    display: none;
  }

  article.title {
    padding: 0 40px  0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  h1.heading {
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    padding: 20px 0 30px 0;
    color: #ba1d2c;
  }

  h2 {
    font-size: 25px;
    line-height: 31px;
    color: #2290c6;
    padding: 0 0 10px 0;
  }

  h2.osxwarn {
    color: #2290c6;
    font-size: 20px;
    line-height: 25px;
    padding: 0 40px 10px;
  }

  h3 {
    font-size: 18px;
    color: #2290c6;
    margin-left: -2px;
  }

  h4 {
    font-size: 24px;
    color: #2290c6;
  }

  h5 {
    font-size: 18px;
    color: #5173a9;
    margin-left: -2px;
  }

  h6 {
    font-size: 18px;
    color: #2290c6;
    margin: 0 0 20px 0;
    clear: left;
  }

  a {
    text-decoration: underline;
    color: #d02131;
  }

  img.code {
    max-width: 100%;
    height: auto;
  }

  a.warning {
    color: #2290c6;
    text-decoration: underline;
  }

  .collapse {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .dl-sprites {
    overflow: auto;
    margin: 0 auto;
    height: auto;
    max-width: 500px;
    text-align: center;
    padding-left: 20px;
  }

  a.dl {
    display: inline-block;
    width: 183px;
    height: 175px;
    margin: 10px auto;
    padding: 0 10px;
    overflow: hidden;
  }
  a.dl:hover {
    text-decoration: none;
  }

  span.windows-version, span.mac-version, span.pi-version, span.de-version {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    top: 94px;
    left: 1px;
    position: relative;
  }

  span.mac-version {
    top: 92px;
    left: 14px;
  }

  span.pi-version {
    top: 88px;
    left: -5px;
  }

  span.de-version {
    top: 88px;
    left: -4px;
  }

  article.page {
    padding: 30px 40px 0 40px;
    font-family: 'Open Sans', sans-serif;
  }

  p {
    color: #737373;
  }

  p.dl {
    display: block;
    float: left;
    color: #6e7d86;
    padding: 0;
    margin: 0;
    clear: left;
  }

  ul.download {
    list-style: none;
  }

  a.download {
    line-height: 30px;
    text-decoration: underline;
    color: #ba1d2c;
  }

  form.sign-up {
    font-family: 'Open Sans', sans-serif;
    margin: 5px  40px 0px;
  }

  fieldset.top {
    height: 5%;
    min-width: 100%;
    float: left;
    display: block;
    position: relative;
    margin: 30px 0 5px 0;
  }

  input.contact {
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    min-width: 100%;
    height: 35px;
    border: 1px solid #737373;
    margin: 0 auto;
    clear: both;
    padding: 1px 0 1px 16px;
  }
  input.contact:hover {
    box-shadow: 0 0 2px black;
  }

  textarea {
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 100%;
    height: 100px;
    border: 1px solid #737373;
    padding: 5px 0 1px 16px;
  }
  textarea:hover {
    box-shadow: 0 0 2px black;
  }

  fieldset.send {
    color: #2290c6;
    position: relative;
    display: block;
    float: left;
    margin: 10px 0 0 0;
  }

  input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: show;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  label.css-label {
    background-image: url("/images/checkbox.png");
    height: 12px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -3px;
    padding-left: 20px;
  }

  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
  }

  fieldset.thankyou {
    display: none;
    float: left;
    font-size: 24px;
  }

  fieldset.submit {
    position: relative;
    padding: 32px 0 0 5px;
    display: block;
    float: left;
    width: 100%;
  }

  input.submit {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 43px;
    width: 100%;
    background: #ba1d2c;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    border: none;
  }
  input.submit:hover {
    box-shadow: 2px 2px 2px #72abc4;
    cursor: pointer;
  }
  input.submit:active {
    box-shadow: 2px 2px 4px #2e5b6f;
  }

  .bottom {
    display: none;
  }

  .mobile {
    position: relative;
    clear: both;
    z-index: 11;
  }

  img.mobile-image {
    width: 100%;
    float: left;
    right: 1px;
    position: absolute;
    z-index: 11;
    bottom: 15px;
    display: block;
  }

  footer {
    position: relative;
    margin-top: -108px;
    height: 50px;
    clear: both;
    text-align: center;
  }
}
a, a:active, a:visited {
  text-decoration: none;
}

a {
  color: #ff1941;
}

a:hover {
  color: red;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  body {
    background: url("/images/background.png") no-repeat center top;
    background-color: #81c2ea;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
  }

  .tablet-mobile {
    display: none;
  }

  .ruby {
    background: url("/images/rubyglow-complete.png") no-repeat center center;
    position: relative;
    width: 153px;
    height: 153px;
    left: 126px;
    top: 170px;
    margin: 0 auto;
    z-index: 998;
  }

  .logo {
    height: 238px;
    width: 239px;
    float: left;
    position: relative;
    right: 10px;
    top: -20px;
  }

  .kids-container {
    margin: 0 auto;
    width: 418px;
    height: 391px;
    position: relative;
    z-index: 990;
    top: -111px;
    left: 0px;
    float: left;
  }

  .kid-small {
    height: 220px;
    width: 125px;
    position: relative;
    z-index: 999;
    top: 50px;
    float: left;
    margin-right: 30px;
  }

  .kid-big {
    height: 275px;
    width: 208px;
    position: relative;
    z-index: 999;
    float: left;
  }

  a.kidsruby {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    background: url("/images/weblogo.png") no-repeat top;
    height: 165px;
    width: 172px;
    float: left;
    display: block;
    position: absolute;
    z-index: 10;
    left: 34px;
    top: 40px;
  }
  a.kidsruby:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    top: 46px;
  }

  .glow {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    background: url("/images/glow.png") no-repeat top;
    position: relative;
    height: 238px;
    width: 239px;
    top: -42px;
    right: 35px;
    opacity: 0;
    z-index: -9;
  }
  .glow:hover {
    opacity: 1;
  }

  nav {
    float: left;
    width: 100%;
    position: relative;
    height: 83px;
    margin: 0 15px 0 0;
    top: -30px;
    z-index: 0;
  }

  ul.nav {
    list-style-type: none;
  }

  a.Home, a.About, a.Download, a.Contact {
    -webkit-transition-property: margin-top;
    -moz-transition-property: margin-top;
    -o-transition-property: margin-top;
    transition-property: margin-top;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background: url("/images/signpost.png") no-repeat center;
    height: 45px;
    font-family: 'bender', helvetica;
    font-weight: bold;
    color: #e2f4f7;
    float: left;
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    width: 61px;
    text-decoration: none;
    padding: 15px 45px 18px 55px;
    margin: 0 106px 0 0;
    top: 0;
  }

  a.active {
    margin-top: -7px;
  }

  a:hover {
    margin-top: -7px;
  }

  a.Home {
    background: url("/images/Signpost-Home.png") no-repeat center;
    line-height: 15px;
    width: 61px;
    margin: 0 20px 0 110px;
  }

  a.active {
    margin-top: -7px;
  }

  a:hover {
    margin-top: -7px;
  }

  a.About {
    padding: 15px 43px 18px 43px;
    margin-right: 20px;
    margin-left: -1px;
  }

  a.Download {
    padding: 15px 63px 18px 24px;
    margin-right: 20px;
    margin-left: -1px;
    width: 58px;
  }

  a.Contact {
    padding: 15px 56px 18px 30px;
    margin-left: -1px;
    width: 56px;
  }

  .container {
    margin: 0 auto;
    width: 940px;
    position: relative;
    min-height: 100%;
  }

  header.top {
    height: 0;
  }

  header.section-top {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
    float: left;
    width: 740px;
    background-color: white;
    color: #2290c6;
    font-size: 28px;
    margin: 30px 0 0;
    padding: 35px 100px 30px;
    position: relative;
    z-index: 1;
  }

  .wrapper {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin: 0 auto;
    background-color: white;
    width: 940px;
    overflow: hidden;
    margin: -45px 0 280px 0;
    position: relative;
  }

  section.main {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: block;
    float: left;
    background-color: white;
    min-height: 100%;
    padding: 0 40px 150px 100px;
    position: relative;
    z-index: 1;
    width: 470px;
  }

  .button {
    height: 165px;
    background-color: #a7ddfe;
  }

  p.button-top {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    color: #1b709a;
    font-weight: bold;
    padding: 24px 40px 25px;
  }

  a.red-button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 375px;
    background: #ba1d2c;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 50px;
  }
  a.red-button:hover {
    box-shadow: 4px 4px 2px #72abc4;
  }
  a.red-button:active {
    box-shadow: 4px 4px 8px #2e5b6f;
  }

  h1.article-head {
    color: #2290c6;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    padding-top: 40px;
  }

  time {
    font: 14px/28px bold 'Open Sans', sans-serif;
    color: #d02131;
  }

  p.article {
    font-family: helvetica, arial;
    font-size: 17px;
    line-height: 28px;
    color: #737373;
    font-weight: normal;
    padding-top: 10px;
    z-index: 1;
    text-align: justify;
  }

  aside {
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    width: 270px;
    float: right;
    position: relative;
    padding: 0 45px 0 15px;
    background: white;
    top: 0;
  }

  .social-buttons {
    width: 269px;
    height: 110px;
  }

  .facebook-button, .twitter-button {
    display: block;
    float: left;
    width: 50%;
  }

  a.icon {
    display: block;
    float: left;
    height: 59px;
    width: 91px;
    margin: 0 30px 10px 0;
  }

  fieldset.newsletter {
    font-size: 16px;
    line-height: 23px;
    color: #2290c6;
    margin: 0 0 10px 0;
  }

  span.newsletter {
    font-size: 20px;
    color: #d02131;
  }

  fieldset.fields {
    height: 25px;
    width: 250px;
    top: 5px;
    position: relative;
    z-index: 2;
    margin: 0 0 20px -3px;
    border: solid 6px #a7ddfe;
  }

  input.email {
    padding: 0;
    height: 25px;
    margin: 0 -75px 0 2px;
    padding: 0 0 0 10px;
    width: 213px;
    border: none;
    float: left;
  }

  input.fields {
    position: absolute;
    display: block;
    background-color: #ba1d2c;
    border: none;
    font-size: 16px;
    color: white;
    line-height: 21px;
    margin: 0 0 0 62px;
    height: 25px;
    width: 34px;
    top: 0;
    right: 0;
  }
  input.fields:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #6da2b2;
  }
  input.fields:active {
    background-color: #4e6ea2;
    box-shadow: 0 0 10px #8eb7c4;
  }

  header.aside {
    font-weight: bold;
    color: #1b709a;
  }

  .icon-twitterbutton {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    float: left;
    height: 59px;
    margin: 6px 10px 75px 0;
    width: 62px;
  }
  .icon-twitterbutton:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  .small-logo {
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: #737373;
  }

  a.twitter {
    color: #2290c6;
  }

  h3.aside {
    color: #d02131;
    font-size: 14px;
  }

  footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    text-align: center;
    z-index: 10;
    height: 37px;
    width: 100%;
    color: black;
    font-size: 14px;
  }

  .bottom {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    min-width: 940px;
  }

  img.bottom-image {
    margin: 0 auto;
    position: absolute;
    float: left;
    z-index: 9;
    bottom: 18px;
    left: -31px;
    min-width: 940px;
  }

  .mobile {
    display: none;
  }

  article.title {
    width: 470px;
    padding: 0 40px 0 0;
    font-weight: bold;
  }

  h1.heading {
    font-size: 40px;
    line-height: 30px;
    padding: 0 0 20px 0;
    color: #ba1d2c;
  }

  h2, h3, h4, h6 {
    color: #2290c6;
  }

  h2.osxwarn {
    color: #2290c6;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    padding: 0 0 5px 0;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
    color: #5173a9;
    margin-left: -2px;
  }

  h6 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  a.warning {
    color: #2290c6;
    font-size: 20px;
    text-decoration: underline;
  }

  a.dl {
    display: block;
    float: left;
    width: 183px;
    height: 175px;
    margin: 0 40px 20px 0;
  }
  a.dl:hover {
    text-decoration: none;
  }

  a.dl.fourth {
    margin-bottom: 37px;
  }

  span.windows-version, span.mac-version, span.pi-version, span.de-version {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    top: 92px;
    left: 94px;
    position: relative;
  }

  span.mac-version {
    top: 90px;
    left: 107px;
  }

  span.pi-version {
    top: 86px;
    left: 87px;
  }

  span.de-version {
    top: 86px;
    left: 88px;
  }

  article.page {
    width: 470px;
    padding: 30px 40px 0 0;
    font-family: 'Open Sans', sans-serif;
  }

  p {
    color: #737373;
  }

  p.dl {
    color: #6e7d86;
    margin: -15px 0 15px 0;
  }

  ul.download {
    list-style: none;
  }

  a.download {
    line-height: 30px;
    text-decoration: underline;
    color: #ba1d2c;
  }

  form.sign-up {
    margin: 5px 15px 0px;
  }

  fieldset.top {
    height: 41px;
    width: 425px;
    float: left;
    display: block;
    position: relative;
    margin: 30px 0 5px 0;
  }

  input.contact {
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 425px;
    height: 35px;
    border: 1px solid #737373;
    padding: 1px 0 1px 16px;
  }
  input.contact:hover {
    box-shadow: 0 0 2px black;
  }

  textarea {
    font-family: helvetica, arial, sans-serif;
    position: relative;
    z-index: 99;
    background-color: white;
    width: 425px;
    height: 100px;
    border: 1px solid #737373;
    clear: both;
    padding: 5px 0 1px 16px;
  }
  textarea:hover {
    box-shadow: 0 0 2px black;
  }

  fieldset.send {
    color: #2290c6;
    top: 535px;
    left: 116px;
    position: absolute;
    display: block;
    float: right;
  }

  input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  label.css-label {
    background-image: url("/images/checkbox.png");
    margin-top: -3px;
    padding-left: 20px;
    height: 12px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    font-size: 16px;
    cursor: pointer;
  }

  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
  }

  fieldset.thankyou {
    display: none;
    float: left;
    font-size: 24px;
  }

  fieldset.submit {
    padding: 0 0 0 65px;
    position: relative;
    display: block;
    float: left;
    top: 130px;
    z-index: 10;
    margin-bottom: 100px;
  }

  input.submit {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 43px;
    width: 265px;
    background: #ba1d2c;
    overflow: visible;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    border: none;
  }
  input.submit:hover {
    box-shadow: 2px 2px 2px #72abc4;
    cursor: pointer;
  }
  input.submit:active {
    box-shadow: 2px 2px 4px #2e5b6f;
  }
}
