form.sign-up {
  font-family: 'Open Sans', sans-serif;

  @media #{$mq-desktop} { 
    margin: 5px 15px 0px;
  }

  @media #{$mq-tablet} { 
    margin: 0  92px 0px;
    padding: none; 
  } 

  @media #{$mq-mobile} { 
    margin: 5px  40px 0px;
  } 
}

fieldset.top {
  float: left; 
  position: relative;

  @media #{$mq-desktop} {
    height: 41px; 
    width: 425px;
    margin: 30px 0 5px 0;
  } 
  
  @media #{$mq-tablet} {  
    height: 41px;
    width: 220px; 
    margin: 30px 0 5px -25px;
    clear: both;
  }

  @media #{$mq-mobile} { 
    height: 5%;
    min-width: 100%; 
    margin: 30px 0 5px 0;
  } 
}

input.contact{    
  font-family: helvetica, arial, sans-serif;
  background-color: white;
  height: 35px;
  border: 1px solid $GrayText;
  padding: 1px 0 1px 16px; 

  @media #{$mq-desktop} { 
    width: 425px;
  } 

  @media #{$mq-tablet} { 
    width: 440px;
  }
  @media #{$mq-mobile} { 
    min-width: 100%;  
    margin: 0 auto;
    clear: both;
  }   
  
  &:hover{
  box-shadow: 0 0 2px black;
  }
}

textarea{ 
  font-family: helvetica, arial, sans-serif;
  position: relative;
  z-index: 99;
  background-color: white;
  height: 100px;
  border: 1px solid $GrayText;
  clear: both;
  padding: 10px 0 1px 15px; 

  @media #{$mq-desktop} { 
    width: 425px;
  } 

  @media #{$mq-tablet} { 
    width: 440px;
  }

  @media #{$mq-mobile} { 
    width: 100%;
  } 
   
  &:hover{
    box-shadow: 0 0 2px black;
  }
}

fieldset.send{
  color: $paragraph;
   
  @media #{$mq-desktop} {    
    position: absolute; 
    top: 535px;
    left: 116px; 
    float: right;
  } 
    
  @media #{$mq-tablet} { 
    position: absolute;
    float: left;
    margin-top: 320px;
  } 

  @media #{$mq-mobile} { 
    position: relative; 
    float: left;
    margin: 10px 0 0 0;
  } 
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  @media #{$mq-mobile} { 
    overflow: show;
  } 
}

label.css-label {
  background-image: url("/images/checkbox.png");
  margin-top: -3px;
  padding-left: 20px;
  height: 12px;
  display: inline-block;
  line-height: 14px;
  background-repeat: no-repeat;
  font-size: 16px;
  cursor: pointer;
} 

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -12px;
}

fieldset.thankyou{
  display: none;
  float: left;
  font-size: 24px;
}

fieldset.submit{ 
  float: left; 
  position:relative;

  @media #{$mq-desktop} { 
    padding: 0 0 0 65px; 
    top: 130px;
    z-index: 10;
    margin-bottom: 100px;
  } 

  @media #{$mq-tablet} { 
    padding: 132px 0 0 65px; 
  } 

  @media #{$mq-mobile} { 
    padding: 32px 0 0 5px; 
    width: 100%
  } 
}

input.submit{  
  @include border-radius(10px);
  height: 43px;
  width: 265px;
  background: $Button;
  overflow: visible;
  color: $white;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  border: none;
 
  @media #{$mq-tablet} { 
    margin-left:18px;
  }

  @media #{$mq-mobile} { 
    width: 100%;
  }   

  &:hover{
    box-shadow: 2px 2px 2px darken($ButtonShadow, 20%);
    cursor: pointer;
  }

  &:active{
    box-shadow: 2px 2px 4px darken($ButtonShadow, 50%);
  }
}


//section ends<<<<<<<<<<

