@media only screen
and (max-width : 641px) 
and (min-width : 1px){
  
  body {
    background-color: $background;
    max-height: 1000px;
    font-family: helvetica, arial, sans-serif;
  }
  
  .background{
    width: 100%;
    min-height: 130%;
    background: url("/images/640res.png") no-repeat center top;
    background-size: 100% auto;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    display: block;
    position: absolute;
    z-index: 0;
  }
  
  a.kidsruby{ 
    background: url("/images/weblogomobile.png") no-repeat top;
    background-size: 16%;
    height: 45%;
    width: 100%;
    float: left; 
    display: block;
    position: absolute;
    z-index: 1;
    right: 35%;
    top: 2%;
    margin-bottom: 5px;
  }
  
  div.glow{
    background: url("/images/background_mobile.png") no-repeat center top;
    background-size: 100% auto;
    width: 110%;
    min-height: 200%;
    padding-left: 25%;
    margin-top: -7%;
  }
  
  nav{
    background-color:$gb;  
    display: block;
    position: relative;
    z-index: 9;
    margin-top: 23%;
  }
  
  ul.nav{
    list-style-type: none;
    display: none;  
    height: auto
  }
    
  a.nav{
    display: block;
    padding-left: 40px;
    padding-top: 4px;
    height: 46px;
    text-decoration: none;
    color: $red;
    font-size: 38px;
    font-family: 'bender', sans-serif;
    border-bottom: 2px solid rgba(0,0,0,.15);
    @include text-shadow(lighten(gray, 15%) -1px 2px 0);
  
    &:hover{
      color: lighten($red, 5%);
      text-decoration: none;
    }
    &:active{
      @include text-shadow(lighten(black, 50%) 0 1px 0);
    }
  }
  
  a.active{ 
    background: url("/images/active.png") repeat;
    color: $red;
    background-color: lighten($gray,5%);  
    } 
      
  .nav-button{
    height: 20px;
    width: 6%;
    min-width: 30px;
    margin:  -16.7% 20px 0 20px;
    padding: 4px;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    right: 4%;
     z-index: 9;
    
    &:hover{
      cursor: pointer;
    }
  }
  
   span.icon-bar{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $red;
  }
  
  .icon-bar + .icon-bar{
    margin-top: 6px;
  }
  
  nav a#pull {  
    height: 0;
    font-size: 28px;
    color: darken($Button, 20%);
    font-family: 'bender';
    display: block;  
    width: 100%;  
    text-align: center;
    }  
 
  nav a#pull:after {  
    content:"";  
    display: inline-block;  
    position: absolute;  
    right: 15px;  
    top: 10px;  
  }  
   
  .container {
    margin: 0 auto;
    width: 100%;
    min-height: auto;
  }
  
  //home
  header.section-top{
    width: 100%;
    position: relative;
    display: block;
    float: right;
    z-index: 1;
    background-color: $gb;
    margin-top: 50%;
  }
  
  h2.title {
    font-size: 25px;
    font-weight: bold;
    color: $red;
    font-family: helvetica, arial;
    line-height: 31px;
    margin: 32px;
  }

  section.main{
    @include border-bottom-radius(15px);
    display: inline;
    float: right;
    width: 100%;
    height: 100%;
    background-color: $gb;
    position: relative;
    margin: 0 0 80% 0;
    padding: 0 0 100px;
    z-index: 10;
   }
    
  p.button-top{
    font-family: helvetica, arial;
    font-size: 28px;
    color: darken($DarkText, 15%);
    font-weight: bold;
    margin: 0 41px 16px;
  }
   
  a.red-button{
    @include border-radius(15px);
    background: $red;
    @include background-image(linear-gradient(left top,darken($red, 3%), lighten($red, 2%), darken($red, 8%))); 
    text-decoration: none;
    display: block;
    width: 65%;
    height: 15%;
    overflow: visible;
    font-family: helvetica, arial;
    color: $white;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    box-shadow: 8px 8px 0 $ButtonShadow;
    margin: 0 auto;
    padding: 40px 5%;
    line-height: 50px;
    
    &:hover{
      color: $white;
      @include background-image(linear-gradient(left top,darken($red, 3%), lighten($red, 4%), darken($red, 6%)));
      box-shadow: 8px 8px 4px darken($ButtonShadow, 20%);
      text-decoration: none;
    }
  }
         
  article.hide, aside, .subscribe, div.twitter{
    display: none;
  }
 
//for about, download and contact pages
  article.title{
    padding: 0 40px  0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  h1.heading{
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    padding: 20px 0 30px 0;
    color: $Button;
  }
    
  h2{
    font-size: 25px;
    line-height: 31px;
    color: $paragraph;
    padding: 0 0 10px 0;
  }
  
  h3{
    font-size: 18px;
    color: $paragraph;
    margin-left: -2px;
  }
      
  h4{
    font-size: 24px;
    color: $paragraph;
  } 
      
  h5{
    font-size: 18px;
    color: $DarkBlue;
    margin-left: -2px;
  } 
    
  h6{
    font-size: 18px;
    color: $paragraph;
    margin: 0 0 20px 0;
    clear: left;
  }   
  
  a{
    text-decoration: underline;
    color: $red;
  }
  
  img.code{
    max-width: 100%;
    height: auto;
  }
  
//For Download Sprites
  .collapse{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .dl-sprites{
    overflow: auto;
    margin: 0 auto;
    height: auto;
    max-width: 500px;
    text-align: center;
    padding-left: 20px;
  }

  a.dl{
    display: inline-block;
    width: 183px;
    height: 175px;
    margin: 10px auto;
    padding:0 10px;
    overflow: hidden;
    
    &:hover{
        text-decoration: none;
      }
  }
  span.windows-version, span.mac-version, span.pi-version, span.de-version {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    top: 94px;
    left: 1px;
    position: relative;
  }
  
  span.mac-version{
    top: 92px;
    left: 14px;
  }
  
  span.pi-version{
    top: 88px;
    left: -5px;
  }
  
  span.de-version{
    top: 88px;
    left: -4px;
  }
  
  article.page{
    padding: 30px 40px 0 40px;
    font-family: 'Open Sans', sans-serif;
  }
  
  p{
    color:$GrayText; 
  }
    
  p.dl{
    display: block;
    float: left;
    color: #6e7d86;
    padding: 0;
    margin: 0 ;
    clear: left;
  }
  
  ul.download{
    list-style: none;
  }
  
  a.download{
    line-height: 30px;
    text-decoration: underline;
    color: $Button;
  }
    
//contact
  form.sign-up {
    font-family: 'Open Sans', sans-serif;
    margin: 5px  40px 0px;
  }
  
  fieldset.top{
    height: 5%;
    min-width: 100%;
    float: left;
    display: block;
    position: relative;
    margin: 30px 0 5px 0;
  }
  
  input.contact{
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    min-width: 100%;
    height: 35px;
    border: 1px solid $GrayText;
    margin: 0 auto;
    clear: both;
    padding: 1px 0 1px 16px;
    
    &:hover{
    box-shadow: 0 0 2px black;
    }
  }
  
  textarea{
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 100%;
    height: 100px;
    border: 1px solid $GrayText;
    padding: 5px 0 1px 16px;
    
    &:hover{
    box-shadow: 0 0 2px black;
    }
  }
  
  fieldset.send{
    color: $paragraph;
    position: relative;
    display:block;
    float: left;
    margin: 10px 0 0 0;
  }
   
  input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: show;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  label.css-label {
    background-image: url("/images/checkbox.png");
    height: 12px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -3px;
    padding-left: 20px;
  }
  
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
  }
  
  fieldset.thankyou{
    display: none;
    float: left;
    font-size: 24px;
  }

  fieldset.submit{
    position:relative;
    padding: 32px 0 0 5px;
    display: block;
    float: left;
    width: 100%
  }
  
  input.submit{
    @include border-radius(10px); 
    height: 43px;
    width: 100%;
    background: $Button;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    border: none;
      
    &:hover{
      box-shadow: 2px 2px 2px darken($ButtonShadow, 20%);
      cursor: pointer;
    }
    &:active{
      box-shadow: 2px 2px 4px darken($ButtonShadow, 50%);
    }
  }
  
//footer image desktop 
  .bottom{
    display: none;
  }
  
//footer image mobile
  .mobile{
    position: relative; 
    clear: both;
    z-index: 11;
  } 
  
  img.mobile-image {
    width:100%;
    float: left;
    right: 1px;
    position: absolute;
    z-index: 11;
    bottom: 15px;
    display: block;
  }
  
  footer{
    position: relative;
    margin-top: -108px; 
    height: 50px;
    clear: both;
    text-align: center;
  }
  
}