@media only screen
and (max-width : 641px) 
and (min-width : 1px){
  
  body {
    background: url("/images/640res.png") no-repeat top;
    background-size: 100% auto;
    background-position: center top;
    background-color: $background;
    font-family: helvetica;
    font-size: 100%;
  }
  %navMobile {
    float: left;
    display: block;
    width: 100%;
    
     a{
       display:block;
       background: $gray;
       height: 84px;
       text-decoration: none;
       color: $red;
       font-size: 42px;
       font-family: 'bender';
       line-height: 75px;
       padding-left: 55px;
       margin: 0; 
       border-bottom: 6px solid $BorderGray;
     }
  }
  
  nav.Home {
    @extend %navMobile;
    margin: 60% 0 0 0;   
  }
  
  nav.About {
    @extend %navMobile;
  }
  
  nav.Download{
    @extend %navMobile;
  }
  
  nav.Contact  {
    @extend %navMobile; 
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
  }
  
  header.sectionTitle{
    width: 100%;
    display: inline;
    float: right;
    background-color: $gb;
    
    h2 {
      font-size: 32px;
      color: $red;
      font-family: helvetica, arial;
      line-height: 41px;
      margin: 32px ;
    }
  }
  
  section{
    @include border-bottom-radius(15px);
    display: inline;
    float: right;
    width: 100%;
    height: 100%;
    background-color: $gb;
    position: relative;
    z-index: -2;
    margin: 0 0 128px 0;
       
    .text{  
      display: block;
      float: left;
      position: relative;
      padding: 0 0 500px;
        
        p{
          font-family: helvetica, arial;
          font-size: 32px;
          color: darken($DarkText, 15%);
          font-weight: bold;
          margin: 32px 41px 16px;
        }
        a{
          text-decoration:none;
          
          &.redbutton{
            display: block;
            width: 90%;
            height: 15%;
            background: $red;
            overflow: visible;
            font-family: helvetica, arial;
            color: $white;
            text-align: center;
            font-size: 29px;
            font-weight: bold;
            line-height: 140px;
            box-shadow: 8px 14px 0 $ButtonShadow;
            margin: 0 29px 15px;
          }
       }  
    }
    p:nth-child(3){
        margin: 60px 30px 80px;
        font-weight: normal; 
        color: transparentize($red, .15);
    }
    
    article.hide{
      display: none;
    }
  }
  aside{
    position: relative;
    z-index: -1;
    
    .socialbuttons{
      @include border-radius(15px);
      margin: -506px 64px 360px;
      float: left;
      display: block;
      width: 480px;
      height: 240px;
      background: $white;
      box-shadow: 6px 6px 0px $BoxShadow;
      
      a.socialButtons{
        display: block;
        float: left;
        height: 59px;
        width: 91px;
        margin: 10px 100px 10px 0;
         }
      .socialNumbers{
        float: left;
        display: block;
        width: 118px;
        font-size: 32px;
        text-align: center;
        color: $SocialText;
      }
      .counts{
        font-size: 51px;
        font-weight: bold;
        color: $SocialText;
      }
    }
    
   form#subscribe{
     display: none;
   }
    
   span.twitterinfo{
     display: none;
   }
    header{
      display:none;
    }
  
  }
   
  .subscribe {
    display: none;
        
    input[type='email']{
      display: none;
    }
        
    input[type='submit']{
      display: none;
    }
  }
  
  
  div#twitter{
    display: none;
  }
  
  //footer image desktop 
  #bottom{
    display: none;
  }
  //footer image mobile
  #mobile{
    position: relative;
    top: 1400px;
    z-index: .9;
    
    img#mobileImage {
      width:100%;
      float: left;
      right: 1px;
      position: absolute;
      z-index: .9;
      bottom: 0;
      display:block;
    }
  }
}