@media only screen
and (max-width : 768px) 
and (min-width : 642px){
  
 
  body{
    background-color: $background;
    font-family: helvetica, arial, sans-serif;
    overflow-x: hidden;
  }
  
  .background{
    background: url("/images/768res.png") no-repeat center top;
    position: relative;
    width: 768px;
    left: -75px;
    height: 350px;
  }
  
  .ruby-tablet{
    background: url("/images/rubyglow_tablet.png") no-repeat ;
    position: relative;
    width: 114px;
    height: 131px;
    left: 12px;
    top: 33px;
    margin: 0 auto;
    z-index:999;
  }
  
  .logo{
    height: 122px;
    width: 120px;
  }
  
  a.kidsruby{ 
    @include transition-duration(1s);
    background: url("/images/weblogoTablet.png") no-repeat top;
    height: 122px;
    width: 120px;
    display:block;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10%;
    
    &:hover {
      @include rotate(-360deg);
    }
  }
  
 nav{
    display: block;
    position: relative;
    z-index: 9;
    margin-top: 5%;
  }
  
  ul.nav{
    list-style-type: none;
    display: none;  
    background: url("/images/board.png") no-repeat top;
    height: 154px;
  }
      
  a.nav{
    width: 237px;
    display: block;
    float: left;
    padding: 15px 0  0 70px;
    margin: 10px -1px -22px 0;
    height: 70px;
    text-decoration: none;
    color: lighten($background, 15%);
    font-size: 38px;
    font-family: 'bender';
    @include text-shadow(darken($DarkerBrown, 5%) -2px 2px 1px);
  
    &:hover{
      @include text-shadow(darken($DarkerBrown, 15%) -2px 2px 1px);
      color: lighten($background, 15%);
      text-decoration: none;
    }
    &:active{
      @include text-shadow(lighten(black, 50%) 0 1px 0);
    }
  }
  
  a.active{ 
    color: lighten($paragraph, 25%);
    @include text-shadow(darken(#895024, 25%) -1px 2px 2px);
  } 
      
  .nav-button{
    height: 20px;
    width: 6%;
    min-width: 30px;
    margin:  -98px 20px 0 20px;
    padding: 2px 0;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    right: 30px;
     z-index: 9;
    
    &:hover{
      cursor: pointer;
    }
  }
  
   span.icon-bar{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $red;
  }
  
  .icon-bar + .icon-bar{
    margin-top: 6px;
  }
  
  nav a#pull {  
    height: 0;
    font-size: 28px;
    color: darken($Button, 20%);
    font-family: 'bender';
    display: block;  
    width: 100%;  
    text-align: center;
    }  
 
  nav a#pull:after {  
    content:"";  
    display: inline-block;  
    position: absolute;  
  }  
  
  .container {
    margin: 0 auto;
    width: 614px;
    min-height: 100%;
    position: relative;
  } 
  
  //home
  header.section-top{
    display: inline-block;
    float: left;
    background-color: $gb;
    width: 614px;
    margin: 0 0 63px 0;
  } 
  
  .wrapper{
    @include border-bottom-radius(15px);
    box-shadow: 0 0 0 5px darken($gb, 8%);
    float: left;
    margin: -58px auto 10px;
    background-color: $gb;
    width: 614px;
    position: relative;
  }
  
  h2.title {
    font-size: 30px;
    color: $red;
    font-family: 'OpenSans', sans-serif;
    line-height: 40px;
    margin: 40px 45px 40px;
  }
 
  section.main{
    margin-top: -63px;
    display: inline-block;
    float: left;
    width: 614px;
    height: 100%;
    background-color: $gb;
    padding-bottom: 50px;
    margin-bottom: 50px;
    overflow:auto;
   }
    
  p.button-top{
    font-family: helvetica, arial;
    font-size: 30px;
    color: darken($DarkText,15%);
    font-weight: bold;
    margin: 0 45px 15px 55px;
  }
        
  a.red-button{
    display: block;
    height: 135px;
    width: 524px;
    background: $red;
    overflow: visible;
    font-family: helvetica, arial;
    color: $white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 130px;
    box-shadow: 5px 10px 0 $ButtonShadow; 
    margin: 0 0 0 45px;
    
    &:hover{
      color: $white;
      box-shadow: 5px 10px 2px darken($ButtonShadow, 20%);
    }
  }
       
  article.hide, aside{
    display: none;
  }
  
  .lettering{
    font-size: 40px;
    font-family: 'OpenSans', sans-serif;
    line-height: 30px;
    margin: 20px 15px 20px;
    color: transparentize($red, .05);
    text-align: center;
  }
  
  h3{
    color: lighten($red, 15%);
    margin: 0 15px 20px;
  }
  
  footer{
    position: relative;
    margin-top: -50px; 
    height: 50px;
    clear:both;
    text-align: center;
  }
  
  //for about, download and contact pages
  article.title{
    width: 470px;
    padding: 0 40px  0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  h1.heading{
    font-size: 40px;
    line-height: 30px;
    padding: 50px 0 30px 0;
    text-align: center;
    color: $Button;
  }
    
  h2{
    font-size: 28px;
    line-height: 42px;
    color: $paragraph;
    padding: 0 0 10px 0;
  }
  
  h3{
    font-size: 18px;
    color: $paragraph;
    margin-left: -2px;
  }
        
  h5{
    font-size: 18px;
    color: $DarkBlue;
    margin-left: -2px;
  } 
    
  a{
    text-decoration: underline;
    color: $red;
  }
  
 //For Download Sprites
  a.dl{
    display: block;
    float: left;
    width: 183px;
    height: 175px;
    margin: 0 30px 20px 45px;
    
    &:hover{
       text-decoration: none;
     }
  }
  
  a.dl.first, a.dl.third{
    margin-left: 87px;
  }
 
  a.dl.fourth{
    margin-bottom: 37px;
  }
  
  span.windows-version, span.mac-version, span.pi-version, span.de-version {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    top: 94px;
    left: 94px;
    position: relative;
  }
  
  span.mac-version{
    top: 92px;
    left: 107px;
  }
  
  span.pi-version{
    top: 88px;
    left: 87px;
  }
  
  span.de-version{
    top: 88px;
    left: 88px;
  }
  
  article.page{
    width: 470px;
    padding: 10px 40px 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  h4{
    font-size: 24px;
    color: $paragraph;
  }
    
  h6{
    font-size: 18px;
    color: $paragraph;
    margin: 0 0 20px 0;
  }
    
  p{
    color:$GrayText; 
  }
  
  p.dl{
    color: #6e7d86;
    margin: -15px 0 10px 0;
  }
  
  ul.download{
    list-style: none;
  }
  
  a.download{
    line-height: 30px;
    text-decoration: underline;
    color: $Button;
  }
    
//contact
  form.sign-up {
    font-family: 'Open Sans', sans-serif;
    margin: 0  92px 0px;
    padding: none;
  }
  
  fieldset.top {
    height: 41px;
    width: 220px;
    float: left;
    display: block;
    position: relative;
    margin: 30px 0 5px -25px;
    clear: both;
  }
  
  input.contact{
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 440px;
    height: 35px;
    border: 1px solid $GrayText;
    margin: 0 auto;
    padding: 1px 0 1px 16px;
    
    &:hover{
    box-shadow: 0 0 2px black;
    }
  }
    
  textarea{
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    width: 440px;
    height: 100px;
    border: 1px solid $GrayText;
    padding: 5px 0 1px 16px;
    
    &:hover{
    box-shadow: 0 0 2px black;
    }
  }
  
  fieldset.send{
    color: $paragraph;
    position: absolute;
    display:block;
    float: left;
    margin-top: 320px;
   }
   
  input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: show;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  label.css-label {
    background-image: url("/images/checkbox.png");
    height: 12px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -3px;
    padding-left: 20px;
  }
  
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
  }
  
  fieldset.thankyou{
    display: none;
    float: left;
    font-size: 24px;
  }

  fieldset.submit{
    padding: 132px 0 0 65px;
    display: block;
    float: left;
  }
  
  input.submit{
    @include border-radius(10px); 
    height: 43px;
    width: 265px;
    background: $Button;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    border: none;
    margin-left:18px;
      
    &:hover{
      box-shadow: 2px 2px 2px darken($ButtonShadow, 20%);
      cursor: pointer;
    }
    &:active{
      box-shadow: 2px 2px 4px darken($ButtonShadow, 50%);
    }
  }
   
  //twitter feed
  div.twitter{
    display: none;
  }
  //footer image desktop
  .bottom{
    display:none;
  }
  //footer image mobile
  .mobile{
    display: none;
  }
}