$background: rgb(129,194,234); //baby blue
$white: white;
$FormBlue: #a7ddfe;
$gb: #e2f4f7; // greyish blue
$gb2: #dcedf8;
$BoxShadow: rgb(166,199,208); //
$input: #b9d5e0;
$red: lighten(rgb(190,30,45), 4%); //
$Button: darken($red, 5%);
$ButtonShadow: rgb(186,214,226);
$InputShadow: rgb(109,162,178);
$DarkBlue: rgb(81,115,169);
$DarkText: lighten(#428098, 2%);
$SocialText: #193b4c;
$paragraph: #2290c6;
$ParagraphDark: darken($paragraph, 10%);
$Brown: #c47d4b;
$DarkerBrown: #895024;
$BorderBrown: #663300;
$gray: lighten(#CCCCCC, 10%);
$BorderGray: lighten(#CCCCCC, 3%);
$GrayText: lighten(black, 45%);
