%header.section-top.main
%section.main
  %article.title
    %h1.heading
      Contribute
    %h2
      KidsRuby is always looking for new contributors and if you would like to offer your support, here are some ways you can help out!
    %h3 
      %a{:href => 'https://github.com/hybridgroup/kidsruby'}Check out the code on Github.
  %article.page
    %h3 Translate
    %p KidsRuby is currently available in English, Spanish, French Japanese and Swedish. We are always looking to reach out to other parts of the world to make KidsRuby easier to access. If you are interested in contributing to the translations, the languages can be found <a href='https://github.com/hybridgroup/kidsruby/tree/master/public/help'>here</a>.
  %article.page
    %h3 Create lessons
    %p If you want to teach kids how to program you can submit lessons! An example lesson can be found <a href='https://github.com/hybridgroup/kidsruby-class-1'> here</a>.
  
