%header.section-top.main
%section.main
  %article.title
    %h1.heading
      Contribute
    %h2
      KidsRuby is always looking to gain a bigger following and if you want to support us please help out!
    %h3 
      %a{:href => 'https://github.com/hybridgroup/kidsruby'}Check out the code on Github.
  %article.page
    %h3 Translate
    %p KidsRuby is currently available in five languages but we are always looking to expand our audience. If you are interested in contributing, the languages can be found <a href='https://github.com/hybridgroup/kidsruby/tree/master/public/help'>here</a>
  %article.page
    %h3 Create lessons
    %p If you want to teach kids how to program you can submit lessons! An exmple lesson can be found <a href='https://github.com/hybridgroup/kidsruby-class-1'> here</a>
  
